<div style="margin-top: 20px;">...</div>

<div style="margin-top: 115px; margin-bottom: 80px;" [hFilter]="searchKey">
  <div class="heading2">
    <img src="./assets/images/logo.jpg" class="titleImg">
    <h1 class="title" style="text-align: center;"><b>{{selectedDept}}</b><br>Kader Boksha Memorial College, Dinajpur
    </h1>
  </div>

  <div *ngIf="departmentDetails">
    <div class="container">
      <div class="row">
        <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xxl-12">
          <div class="custom-column bg-info" id="imageSlider">
            <div id="slider-container">
              <div id="slider" style="display:block !important;">
                <div class="image-slider" #imageSlideContainer>
                  <a class="carousel-control-prev" role="button" (click)="prevImage()">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>

                  <div class="carousel-inner">
                    <div class="carousel-track" [ngStyle]="{
                      transform: 'translateX(-' + currentIndex * 100 + '%)'
                    }">
                      <div class="slide-item" *ngFor="let img of images" style="width: 100%; flex-shrink: 0;">
                        <img [src]="img?.Img" class="d-block w-100" alt="Image" />
                        <p class="caption2" [innerHTML]="img?.Caption"></p>
                      </div>
                    </div>
                  </div>

                  <a class="carousel-control-next" role="button" (click)="nextImage()">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xxl-6">

          <h1 style="text-align: center;" class="profile-title profile-title4"><b>{{ departmentDetails?.Title }}</b>
          </h1>
          <div class="profile">
            <div class="profile-text">
              <p [innerHTML]="departmentDetails?.Description"></p>
            </div>
          </div>
          <div class="make-blur" id="mpBlur"></div>
          <div class="read-more" (click)="openModal2($event)" id="readMore"><a>Read More</a>
          </div>
        </div>
        <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xxl-6">
          <h1 style="text-align: center;" class="profile-title profile-title4">
            <b>{{ departmentDetails?.TitlePhoto }}</b>
          </h1>
          <div class="profile-text profile">
            <p>
              <img id="openImage" [src]="departmentDetails?.Photo" alt="Campus Area" (click)="openModal()">
            </p>
          </div>
          <div class="make-blur" id="mpBlur"></div>
          <div class="read-more" id="readMore">
            <a href="javascript:void(0)" (click)="openModal()">Open Full Image</a>
          </div>
        </div>

        <div *ngIf="isImageModalOpen" class="modal-overlay" (click)="closeModal()">
          <div class="modal-content" (wheel)="zoomImage($event)" (mousedown)="startDragging($event)"
            (mousemove)="dragImage($event)" (mouseup)="stopDragging()" (mouseleave)="stopDragging()"
            (touchstart)="startDragging($event)" (touchmove)="dragImage($event)" (touchend)="stopDragging()"
            (click)="$event.stopPropagation()">
            <img #modalImage [src]="fullImageSrc"
              [style.transform]="'scale(' + zoomLevel + ') translate(' + translateX + 'px, ' + translateY + 'px)'"
              class="modal-image">
            <button class="close-button" (click)="closeModal()" (touchstart)="closeModal()">&#10006;</button>
          </div>
        </div>

        <div *ngIf="isProfileModalOpen" class="modal-overlay" (click)="closeModal2()">
          <div class="modal-content" (click)="$event.stopPropagation()">
            <button class="close-button" (click)="closeModal2()" (touchstart)="closeModal2()">&#10006;</button>
            <div style="color: black; background: white; padding: 20px" [innerHTML]="fullProfileText"></div>
          </div>
        </div>
        <!-- <div *ngFor="let op of getOtherPeople(0)" class="col-12 col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xxl-4">
          <div class="profile" id="chairman">
            <div class="profile-head">
              <img [src]="op?.Img" class="profile-picture">
              <h3 class="profile-title profile-title3"><b [innerHTML]="op.Title"></b></h3>
            </div>
            <div class="profile-text">
              <p [innerHTML]="op.Comment"></p>
              <p><br><b>{{ op.Name }}<br><br>{{ op.Designation }}</b><br>{{ op.Deptartment }}<br>{{ op.Org }}</p>
            </div>
          </div>
          <div class="make-blur" id="mpBlur"></div>
          <div class="read-more" (click)="openModal2($event)" id="readMore"><a>Read More</a>
          </div>
        </div>
        <div *ngFor="let op of getOtherPeople(1)" class="col-12 col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xxl-4">
          <div class="profile" id="chairman">
            <div class="profile-head">
              <img [src]="op?.Img" class="profile-picture">
              <h3 class="profile-title profile-title3"><b [innerHTML]="op.Title"></b></h3>
            </div>
            <div class="profile-text">
              <p [innerHTML]="op.Comment"></p>
              <p><br><b>{{ op.Name }}<br><br>{{ op.Designation }}</b><br>{{ op.Deptartment }}<br>{{ op.Org }}</p>
            </div>
          </div>
          <div class="make-blur" id="mpBlur"></div>
          <div class="read-more" (click)="openModal2($event)" id="readMore"><a>Read More</a>
          </div>
        </div>
        <div *ngFor="let op of getOtherPeople(2)" class="col-12 col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xxl-4">
          <div class="profile" id="chairman">
            <div class="profile-head">
              <img [src]="op?.Img" class="profile-picture">
              <h3 class="profile-title profile-title3"><b [innerHTML]="op.Title"></b></h3>
            </div>
            <div class="profile-text">
              <p [innerHTML]="op.Comment"></p>
              <p><br><b>{{ op.Name }}<br><br>{{ op.Designation }}</b><br>{{ op.Deptartment }}<br>{{ op.Org }}</p>
            </div>
          </div>
          <div class="make-blur" id="mpBlur"></div>
          <div class="read-more" (click)="openModal2($event)" id="readMore"><a>Read More</a>
          </div>
        </div>
      </div>
      <div class="row x-memory">
        <div class="col-12 col-xs-0 col-sm-0 col-md-0 col-lg-2 col-xxl-2"></div>
        <div class="col-12 col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xxl-4">
          <div class="profile remember" id="founderPrincipal">
            <div class="profile-head">
              <img src="./assets/images/fprincipal.jpg" class="profile-picture">
              <h3 class="profile-title"><b>প্রতিষ্ঠাতা অধ্যক্ষ</b></h3>
            </div>
            <div class="profile-text">
              জনাব, মাহমুদ মোকারোম হোসেন।<br>বিশিষ্ট শিক্ষাবিদ, তৎকালীন বাংলাদেশ অধ্যক্ষ পরিষোদের সভাপতি।
            </div>
          </div>
        </div>

        <div class="col-12 col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xxl-4">
          <div class="profile remember" id="rememberingPerson">
            <div class="profile-head">
              <img src="./assets/images/kb.jpg" class="profile-picture">
              <h3 class="profile-title"><b>যার নামে কলেজ</b></h3>
            </div>
            <div class="profile-text">
              জনাব, মৌলভী কাদের বক্স‌<br>বিশিষ্ট আইনজীবী(প্রথম মুসলিম আইনজীবী দিনাজপুর জর্জকোট)।
            </div>
          </div>
        </div>
      </div> -->
        <div class="row" *ngIf="videos?.length">
          <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xxl-12">
            <div class="custom-column bg-info" id="imageSlider">
              <div id="slider-container">
                <div id="slider" style="display:block !important;">
                  <div class="image-slider" #imageSlideContainer>
                    <a class="carousel-control-prev" role="button" (click)="prevVideo()">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>

                    <div class="carousel-inner">
                      <div class="carousel-track" [ngStyle]="{
                      transform: 'translateX(-' + currentVideoIndex * 100 + '%)' }">
                        <div class="slide-item" *ngFor="let video of videos" style="width: 100%; flex-shrink: 0;">
                          <iframe width="100%" height="400" [src]="videos[currentVideoIndex].embedUrl" frameborder="0"
                            allowfullscreen></iframe>
                          <p class="caption2" [innerHTML]="videos[currentVideoIndex].Title"></p>
                        </div>
                      </div>
                    </div>

                    <a class="carousel-control-next" role="button" (click)="nextVideo()">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row" *ngIf="departmentDetails?.TitlePhoto2">

          <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xxl-6">

            <h1 style="text-align: center;" class="profile-title profile-title4"><b>{{ departmentDetails?.TitlePhoto2
                }}</b></h1>
            <div class="profile">
              <div class="profile-text">
                <p [innerHTML]="departmentDetails?.DescriptionPhoto2"></p>
              </div>
            </div>
            <div class="make-blur" id="mpBlur"></div>
            <div class="read-more" (click)="openModal2($event)" id="readMore"><a>Read More</a>
            </div>
          </div>
          <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xxl-6">
            <h1 style="text-align: center;" class="profile-title profile-title4">
              <b>{{ departmentDetails?.TitlePhoto2 }}</b>
            </h1>
            <div class="profile-text profile">
              <p>
                <img id="openImage" [src]="departmentDetails?.Photo2" alt="Campus Area" (click)="openModalPhoto2()">
              </p>
            </div>
            <div class="make-blur" id="mpBlur"></div>
            <div class="read-more" id="readMore">
              <a href="javascript:void(0)" (click)="openModalPhoto2()">Open Full Image</a>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="departmentDetails?.TitlePhoto3">

          <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xxl-6">

            <h1 style="text-align: center;" class="profile-title profile-title4"><b>{{ departmentDetails?.TitlePhoto3
                }}</b></h1>
            <div class="profile">
              <div class="profile-text">
                <p [innerHTML]="departmentDetails?.DescriptionPhoto3"></p>
              </div>
            </div>
            <div class="make-blur" id="mpBlur"></div>
            <div class="read-more" (click)="openModal2($event)" id="readMore"><a>Read More</a>
            </div>
          </div>
          <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xxl-6">
            <h1 style="text-align: center;" class="profile-title profile-title4">
              <b>{{ departmentDetails?.TitlePhoto3 }}</b>
            </h1>
            <div class="profile-text profile">
              <p>
                <img id="openImage" [src]="departmentDetails?.Photo3" alt="Campus Area" (click)="openModalPhoto3()">
              </p>
            </div>
            <div class="make-blur" id="mpBlur"></div>
            <div class="read-more" id="readMore">
              <a href="javascript:void(0)" (click)="openModalPhoto3()">Open Full Image</a>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="departmentDetails?.TitlePhoto4">

          <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xxl-6">

            <h1 style="text-align: center;" class="profile-title profile-title4"><b>{{ departmentDetails?.TitlePhoto4
                }}</b></h1>
            <div class="profile">
              <div class="profile-text">
                <p [innerHTML]="departmentDetails?.DescriptionPhoto4"></p>
              </div>
            </div>
            <div class="make-blur" id="mpBlur"></div>
            <div class="read-more" (click)="openModal2($event)" id="readMore"><a>Read More</a>
            </div>
          </div>
          <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xxl-6">
            <h1 style="text-align: center;" class="profile-title profile-title4">
              <b>{{ departmentDetails?.TitlePhoto4 }}</b>
            </h1>
            <div class="profile-text profile">
              <p>
                <img id="openImage" [src]="departmentDetails?.Photo4" alt="Campus Area" (click)="openModalPhoto4()">
              </p>
            </div>
            <div class="make-blur" id="mpBlur"></div>
            <div class="read-more" id="readMore">
              <a href="javascript:void(0)" (click)="openModalPhoto4()">Open Full Image</a>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="departmentDetails?.TitlePhoto5">

          <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xxl-6">

            <h1 style="text-align: center;" class="profile-title profile-title4"><b>{{ departmentDetails?.TitlePhoto5
                }}</b></h1>
            <div class="profile">
              <div class="profile-text">
                <p [innerHTML]="departmentDetails?.DescriptionPhoto5"></p>
              </div>
            </div>
            <div class="make-blur" id="mpBlur"></div>
            <div class="read-more" (click)="openModal2($event)" id="readMore"><a>Read More</a>
            </div>
          </div>
          <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xxl-6">
            <h1 style="text-align: center;" class="profile-title profile-title4">
              <b>{{ departmentDetails?.TitlePhoto5 }}</b>
            </h1>
            <div class="profile-text profile">
              <p>
                <img id="openImage" [src]="departmentDetails?.Photo5" alt="Campus Area" (click)="openModalPhoto5()">
              </p>
            </div>
            <div class="make-blur" id="mpBlur"></div>
            <div class="read-more" id="readMore">
              <a href="javascript:void(0)" (click)="openModalPhoto5()">Open Full Image</a>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="departmentDetails?.TitlePhoto6">

          <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xxl-6">

            <h1 style="text-align: center;" class="profile-title profile-title4"><b>{{ departmentDetails?.TitlePhoto6
                }}</b></h1>
            <div class="profile">
              <div class="profile-text">
                <p [innerHTML]="departmentDetails?.DescriptionPhoto6"></p>
              </div>
            </div>
            <div class="make-blur" id="mpBlur"></div>
            <div class="read-more" (click)="openModal2($event)" id="readMore"><a>Read More</a>
            </div>
          </div>
          <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xxl-6">
            <h1 style="text-align: center;" class="profile-title profile-title4">
              <b>{{ departmentDetails?.TitlePhoto6 }}</b>
            </h1>
            <div class="profile-text profile">
              <p>
                <img id="openImage" [src]="departmentDetails?.Photo6" alt="Campus Area" (click)="openModalPhoto6()">
              </p>
            </div>
            <div class="make-blur" id="mpBlur"></div>
            <div class="read-more" id="readMore">
              <a href="javascript:void(0)" (click)="openModalPhoto6()">Open Full Image</a>
            </div>
          </div>
        </div>
        <!-- <div class="row">

        <div *ngFor="let op of getOtherPeople(100)" class="col-12 col-xs-12 col-sm-6 col-md-6 col-lg-3">
          <div class="profile local-people" id="localPepole1">
            <div class="profile-head">
              <img [src]="op?.Img" class="profile-picture">
              <h3 class="profile-title"><b [innerHTML]="op.Title"></b></h3>
            </div>
            <div class="profile-text">
              <p [innerHTML]="op.Comment"></p>
              <p><br><b>{{ op.Name }}<br><br>{{ op.Designation }}</b><br>{{ op.Deptartment }}<br>{{ op.Org }}</p>
            </div>
          </div>
          <div class="make-blur" id="mpBlur"></div>
          <div class="read-more" (click)="openModal2($event)" id="readMore"><a>Read More</a>
          </div>
        </div>
        <div *ngFor="let op of getOtherPeople(101)" class="col-12 col-xs-12 col-sm-6 col-md-6 col-lg-3">
          <div class="profile local-people" id="localPepole1">
            <div class="profile-head">
              <img [src]="op?.Img" class="profile-picture">
              <h3 class="profile-title"><b [innerHTML]="op.Title"></b></h3>
            </div>
            <div class="profile-text">
              <p [innerHTML]="op.Comment"></p>
              <p><br><b>{{ op.Name }}<br><br>{{ op.Designation }}</b><br>{{ op.Deptartment }}<br>{{ op.Org }}</p>
            </div>
          </div>
          <div class="make-blur" id="mpBlur"></div>
          <div class="read-more" (click)="openModal2($event)" id="readMore"><a>Read More</a>
          </div>
        </div>
        <div *ngFor="let op of getOtherPeople(102)" class="col-12 col-xs-12 col-sm-6 col-md-6 col-lg-3">
          <div class="profile local-people" id="localPepole1">
            <div class="profile-head">
              <img [src]="op?.Img" class="profile-picture">
              <h3 class="profile-title"><b [innerHTML]="op.Title"></b></h3>
            </div>
            <div class="profile-text">
              <p [innerHTML]="op.Comment"></p>
              <p><br><b>{{ op.Name }}<br><br>{{ op.Designation }}</b><br>{{ op.Deptartment }}<br>{{ op.Org }}</p>
            </div>
          </div>
          <div class="make-blur" id="mpBlur"></div>
          <div class="read-more" (click)="openModal2($event)" id="readMore"><a>Read More</a>
          </div>
        </div>
        <div *ngFor="let op of getOtherPeople(103)" class="col-12 col-xs-12 col-sm-6 col-md-6 col-lg-3">
          <div class="profile local-people" id="localPepole1">
            <div class="profile-head">
              <img [src]="op?.Img" class="profile-picture">
              <h3 class="profile-title"><b [innerHTML]="op.Title"></b></h3>
            </div>
            <div class="profile-text">
              <p [innerHTML]="op.Comment"></p>
              <p><br><b>{{ op.Name }}<br><br>{{ op.Designation }}</b><br>{{ op.Deptartment }}<br>{{ op.Org }}</p>
            </div>
          </div>
          <div class="make-blur" id="mpBlur"></div>
          <div class="read-more" (click)="openModal2($event)" id="readMore"><a>Read More</a>
          </div>
        </div>
      </div> -->
        <div class="row">
          <div class="col-12 col-xs-12 col-sm-6 col-md-6 col-lg-3"
            *ngFor="let post of departmentDetails?.posts?.postDetails; let i = index">
            <div class="profile local-people local-people2" id="localPepole2">
              <div class="profile-head2">
                <h3 class="profile-title">
                  <b>{{ post.Title }}</b><br>
                  {{ post.SubTitle }}
                </h3>
              </div>
              <div class="custom-column bg-info" id="imageSlider">
                <div id="slider-container">
                  <div id="slider" style="display:block !important;">
                    <div class="image-slider" #imageSlideContainer>
                      <a class="carousel-control-prev" role="button" (click)="prevImage2(i)">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                      </a>

                      <div class="carousel-inner">
                        <div class="carousel-track" [ngStyle]="{
                        transform: 'translateX(-' + postIndex[i] * 100 + '%)'
                      }">
                          <div class="slide-item" *ngFor="let imgObj of postImages[i]"
                            style="width: 100%; flex-shrink: 0;">
                            <img [src]="imgObj?.Img" class="d-block w-100" alt="Image" />
                            <p class="caption" [innerHTML]="imgObj?.Caption"></p>
                          </div>
                        </div>
                      </div>

                      <a class="carousel-control-next" role="button" (click)="nextImage2(i)">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="profile-text postText">
                <p [innerHTML]="post.Description"></p>
              </div>
            </div>
            <div class="make-blur" id="mpBlur"></div>
            <div class="read-more" (click)="openModal2($event)" id="readMore">
              <a>Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="margin-top: 48px" [hFilter]="searchKey">
    <div class="container" *ngIf="(teachers.length > 0)">
      <div class="row">
        <h3 class="heading3">MPO Teachers</h3>
        <div
          *ngFor="let member of teachers | orderBy:'Order' | filter:searchKey:['Name', 'Designation', 'Dept', 'Father_Name', 'Mother_Name', 'Gender', 'Joining', 'Index', 'Mobile', 'TMIS', 'TTIS', 'Email', 'Date_of_Birth', 'Present_Address', 'Permanent_Address', 'Exam', 'Year', 'Result', 'Board_Uni', 'Title', 'Description', 'Comment', 'Retirement']"
          class="col-12 col-xs-8 col-xs-7 col-sm-6 col-md-5 col-lg-4 col-xl-3 col-xxl-2">
          <div class="table-wrapper">
            <table>
              <tr>
                <td colspan="4" class="img"><img [src]="member.Img || './assets/images/teacher.jpg'"
                    class="profile-picture"></td>
              </tr>
              <tr>
                <td colspan="4" class="heading"><b>{{member.Name}}</b></td>
              </tr>
              <tr>
                <td colspan="4" class="heading">{{member.Designation}}</td>
              </tr>
              <tr>
                <td colspan="4" class="heading">{{ getDept(member.Dept) }}</td>
              </tr>
              <tr>
                <td class="viewButton" colspan="4"><button (click)="openModal3($event)" class="details"
                    id="details">Details</button></td>
              </tr>
              <tr class="showHide">
                <td colspan="4" class="heading">............................................................
                </td>
              </tr>
              <tr class="showHide">
                <td>Fathers Name</td>
                <td>:</td>
                <td colspan="2">{{member.Father_Name}}</td>
              </tr>
              <tr class="showHide">
                <td>Mothers Name</td>
                <td>:</td>
                <td colspan="2">{{member.Mother_Name}}</td>
              </tr>
              <tr class="showHide">
                <td>Gender</td>
                <td>:</td>
                <td colspan="2">{{member.Gender}}</td>
              </tr>
              <tr class="showHide">
                <td>Blood Group</td>
                <td>:</td>
                <td colspan="2">{{member.Blood_Group}}</td>
              </tr>
              <tr class="showHide">
                <td>Joining Date</td>
                <td>:</td>
                <td colspan="2">{{member.Joining}}</td>
              </tr>
              <tr class="showHide">
                <td>Index No.</td>
                <td>:</td>
                <td colspan="2">{{member.Index}}</td>
              </tr>
              <tr class="showHide">
                <td>TMIS No.</td>
                <td>:</td>
                <td colspan="2">{{member.TMIS}}</td>
              </tr>
              <tr class="showHide">
                <td>TTIS No.</td>
                <td>:</td>
                <td colspan="2">{{member.TTIS}}</td>
              </tr>
              <tr class="showHide">
                <td>Mobile No.</td>
                <td>:</td>
                <td colspan="2">{{member.Mobile}}</td>
              </tr>
              <tr class="showHide">
                <td>Email</td>
                <td>:</td>
                <td colspan="2">{{member.Email}}</td>
              </tr>
              <tr class="showHide">
                <td>Date of Birth</td>
                <td>:</td>
                <td colspan="2">{{member.Date_of_Birth}}</td>
              </tr>
              <tr class="showHide">
                <td>Present Address</td>
                <td>:</td>
                <td colspan="2">{{member.Present_Address}}</td>
              </tr>
              <tr class="showHide">
                <td>Permanent Address</td>
                <td>:</td>
                <td colspan="2">{{member.Permanent_Address}}</td>
              </tr>
              <tr class="showHide">
                <td colspan="4">
                  Academic Details :
                </td>
              </tr>
              <tr class="showHide">
                <th class="colA">Exam</th>
                <th class="colB">Year</th>
                <th class="colC">Result</th>
                <th class="colD">Board / Univarsity</th>
              </tr>
              <tr *ngFor="let ed of member.educations" class="showHide">
                <td class="colA">{{ed.Exam}}</td>
                <td class="colB">{{ed.Year}}</td>
                <td class="colC">{{ed.Result}}</td>
                <td class="colD">{{ed.Board_Uni}}</td>
              </tr>
              <tr class="showHide">
                <td colspan="4">
                  <br>Experience :
                </td>
              </tr>
              <tr class="showHide">
                <th class="colA">Title</th>
                <th class="colB">Year</th>
                <th class="colC">Description</th>
                <th class="colD">Comment</th>
              </tr>
              <tr *ngFor="let ex of member.experiences" class="experience" class="showHide">
                <td class="colA">{{ex.Title}}</td>
                <td class="colB">{{ex.Year}}</td>
                <td class="colC">{{ex.Description}}</td>
                <td class="colD">{{ex.Comment}}</td>
              </tr>
              <tr class="showHide">
                <td colspan="3" style="color:darkred"><br>Probable Retirement Date : </td>
                <td style="color:darkred"><br>{{member.Retirement}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="container" *ngIf="(teacherHonours.length > 0)">
      <div class="row">
        <h3 class="heading3">Honours Teachers</h3>
        <div
          *ngFor="let member of teacherHonours | orderBy:'Order' | filter:searchKey:['Name', 'Designation', 'Dept', 'Father_Name', 'Mother_Name', 'Gender', 'Joining', 'Index', 'Mobile', 'TTIS', 'Email', 'Date_of_Birth', 'Present_Address', 'Permanent_Address', 'Exam', 'Year', 'Result', 'Board_Uni', 'Title', 'Description', 'Comment', 'Retirement']"
          class="col-12 col-xs-8 col-xs-7 col-sm-6 col-md-5 col-lg-4 col-xl-3 col-xxl-2">
          <div class="table-wrapper">
            <table>
              <tr>
                <td colspan="4" class="img"><img [src]="member.Img || './assets/images/teacher.jpg'"
                    class="profile-picture"></td>
              </tr>
              <tr>
                <td colspan="4" class="heading"><b>{{member.Name}}</b></td>
              </tr>
              <tr>
                <td colspan="4" class="heading">{{member.Designation}}</td>
              </tr>
              <tr>
                <td colspan="4" class="heading">{{ getDept(member.Dept) }}</td>
              </tr>
              <tr>
                <td class="viewButton" colspan="4"><button (click)="openModal3($event)" class="details"
                    id="details">Details</button></td>
              </tr>
              <tr class="showHide">
                <td colspan="4" class="heading">............................................................
                </td>
              </tr>
              <tr class="showHide">
                <td>Fathers Name</td>
                <td>:</td>
                <td colspan="2">{{member.Father_Name}}</td>
              </tr>
              <tr class="showHide">
                <td>Mothers Name</td>
                <td>:</td>
                <td colspan="2">{{member.Mother_Name}}</td>
              </tr>
              <tr class="showHide">
                <td>Gender</td>
                <td>:</td>
                <td colspan="2">{{member.Gender}}</td>
              </tr>
              <tr class="showHide">
                <td>Blood Group</td>
                <td>:</td>
                <td colspan="2">{{member.Blood_Group}}</td>
              </tr>
              <tr class="showHide">
                <td>Joining Date</td>
                <td>:</td>
                <td colspan="2">{{member.Joining}}</td>
              </tr>
              <tr class="showHide">
                <td>TMIS No.</td>
                <td>:</td>
                <td colspan="2">{{member.TMIS}}</td>
              </tr>
              <tr class="showHide">
                <td>TTIS No.</td>
                <td>:</td>
                <td colspan="2">{{member.TTIS}}</td>
              </tr>
              <tr class="showHide">
                <td>Mobile No.</td>
                <td>:</td>
                <td colspan="2">{{member.Mobile}}</td>
              </tr>
              <tr class="showHide">
                <td>Email</td>
                <td>:</td>
                <td colspan="2">{{member.Email}}</td>
              </tr>
              <tr class="showHide">
                <td>Date of Birth</td>
                <td>:</td>
                <td colspan="2">{{member.Date_of_Birth}}</td>
              </tr>
              <tr class="showHide">
                <td>Present Address</td>
                <td>:</td>
                <td colspan="2">{{member.Present_Address}}</td>
              </tr>
              <tr class="showHide">
                <td>Permanent Address</td>
                <td>:</td>
                <td colspan="2">{{member.Permanent_Address}}</td>
              </tr>
              <tr class="showHide">
                <td colspan="4">
                  Academic Details :
                </td>
              </tr>
              <tr class="showHide">
                <th class="colA">Exam</th>
                <th class="colB">Year</th>
                <th class="colC">Result</th>
                <th class="colD">Board / Univarsity</th>
              </tr>
              <tr *ngFor="let ed of member.educations" class="education" class="showHide">
                <td class="colA">{{ed.Exam}}</td>
                <td class="colB">{{ed.Year}}</td>
                <td class="colC">{{ed.Result}}</td>
                <td class="colD">{{ed.Board_Uni}}</td>
              </tr>
              <tr class="showHide" style="visibility:hidden">
                <td colspan="4">
                  <br>Experience :
                </td>
              </tr>
              <tr class="showHide">
                <th class="colA">Title</th>
                <th class="colB">Year</th>
                <th class="colC">Description</th>
                <th class="colD">Comment</th>
              </tr>
              <tr *ngFor="let ex of member.experiences" class="experience" class="showHide">
                <td class="colA">{{ex.Title}}</td>
                <td class="colB">{{ex.Year}}</td>
                <td class="colC">{{ex.Description}}</td>
                <td class="colD">{{ex.Comment}}</td>
              </tr>
              <tr class="showHide">
                <td colspan="3" style="color:darkred"><br>Probable Retirement Date : </td>
                <td style="color:darkred"><br>{{member.Retirement}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="container" *ngIf="(staffs.length > 0)">
      <div class="row">
        <h3 class="heading3">MPO Staffs</h3>
        <div
          *ngFor="let member of staffs | orderBy:'Order' | filter:searchKey:['Name', 'Designation', 'Dept', 'Father_Name', 'Mother_Name', 'Gender', 'Joining', 'Index', 'Mobile', 'TMIS', 'Email', 'Date_of_Birth', 'Present_Address', 'Permanent_Address', 'Exam', 'Year', 'Result', 'Board_Uni', 'Title', 'Description', 'Comment', 'Retirement']"
          class="col-12 col-xs-8 col-xs-7 col-sm-6 col-md-5 col-lg-4 col-xl-3 col-xxl-2">
          <div class="table-wrapper">
            <table>
              <tr>
                <td colspan="4" class="img"><img [src]="member.Img || './assets/images/employee.jpg'" class="profile-picture">
                </td>
              </tr>
              <tr>
                <td colspan="4" class="heading"><b>{{member.Name}}</b></td>
              </tr>
              <tr>
                <td colspan="4" class="heading">{{member.Designation}}</td>
              </tr>
              <tr>
                <td colspan="4" class="heading">{{ getDept(member.Dept) }}</td>
              </tr>
              <tr>
                <td class="viewButton" colspan="4"><button (click)="openModal3($event)" class="details"
                    id="details">Details</button></td>
              </tr>
              <tr class="showHide">
                <td colspan="4" class="heading">............................................................
                </td>
              </tr>
              <tr class="showHide">
                <td>Fathers Name</td>
                <td>:</td>
                <td colspan="2">{{member.Father_Name}}</td>
              </tr>
              <tr class="showHide">
                <td>Mothers Name</td>
                <td>:</td>
                <td colspan="2">{{member.Mother_Name}}</td>
              </tr>
              <tr class="showHide">
                <td>Gender</td>
                <td>:</td>
                <td colspan="2">{{member.Gender}}</td>
              </tr>
              <tr class="showHide">
                <td>Blood Group</td>
                <td>:</td>
                <td colspan="2">{{member.Blood_Group}}</td>
              </tr>
              <tr class="showHide">
                <td>Joining Date</td>
                <td>:</td>
                <td colspan="2">{{member.Joining}}</td>
              </tr>
              <tr class="showHide">
                <td>Index No.</td>
                <td>:</td>
                <td colspan="2">{{member.Index}}</td>
              </tr>
              <tr class="showHide">
                <td>Mobile No.</td>
                <td>:</td>
                <td colspan="2">{{member.Mobile}}</td>
              </tr>
              <tr class="showHide">
                <td>Email</td>
                <td>:</td>
                <td colspan="2">{{member.Email}}</td>
              </tr>
              <tr class="showHide">
                <td>Date of Birth</td>
                <td>:</td>
                <td colspan="2">{{member.Date_of_Birth}}</td>
              </tr>
              <tr class="showHide">
                <td>Present Address</td>
                <td>:</td>
                <td colspan="2">{{member.Present_Address}}</td>
              </tr>
              <tr class="showHide">
                <td>Permanent Address</td>
                <td>:</td>
                <td colspan="2">{{member.Permanent_Address}}</td>
              </tr>
              <tr class="showHide">
                <td colspan="4">
                  Academic Details :
                </td>
              </tr>
              <tr class="showHide">
                <th class="colA">Exam</th>
                <th class="colB">Year</th>
                <th class="colC">Result</th>
                <th class="colD">Board / Univarsity</th>
              </tr>
              <tr *ngFor="let ed of member.educations" class="education" class="showHide">
                <td class="colA">{{ed.Exam}}</td>
                <td class="colB">{{ed.Year}}</td>
                <td class="colC">{{ed.Result}}</td>
                <td class="colD">{{ed.Board_Uni}}</td>
              </tr>
              <tr class="showHide">
                <td colspan="4">
                  <br>Experience :
                </td>
              </tr>
              <tr class="showHide">
                <th class="colA">Title</th>
                <th class="colB">Year</th>
                <th class="colC">Description</th>
                <th class="colD">Comment</th>
              </tr>
              <tr *ngFor="let ex of member.experiences" class="experience" class="showHide">
                <td class="colA">{{ex.Title}}</td>
                <td class="colB">{{ex.Year}}</td>
                <td class="colC">{{ex.Description}}</td>
                <td class="colD">{{ex.Comment}}</td>
              </tr>
              <tr class="showHide">
                <td colspan="3" style="color:darkred"><br>Probable Retirement Date : </td>
                <td style="color:darkred"><br>{{member.Retirement}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="container" *ngIf="(nonMpoStaffs.length > 0)">
      <div class="row">
        <h3 class="heading3">Non-MPO Staffs</h3>
        <div
          *ngFor="let member of nonMpoStaffs | orderBy:'Order' | filter:searchKey:['Name', 'Designation', 'Dept', 'Father_Name', 'Mother_Name', 'Gender', 'Joining', 'Index', 'Mobile', 'Email', 'Date_of_Birth', 'Present_Address', 'Permanent_Address', 'Exam', 'Year', 'Result', 'Board_Uni', 'Title', 'Description', 'Comment', 'Retirement']"
          class="col-12 col-xs-8 col-xs-7 col-sm-6 col-md-5 col-lg-4 col-xl-3 col-xxl-2">
          <div class="table-wrapper">
            <table>
              <tr>
                <td colspan="4" class="img"><img [src]="member.Img || './assets/images/employee.jpg'" class="profile-picture">
                </td>
              </tr>
              <tr>
                <td colspan="4" class="heading"><b>{{member.Name}}</b></td>
              </tr>
              <tr>
                <td colspan="4" class="heading">{{member.Designation}}</td>
              </tr>
              <tr>
                <td colspan="4" class="heading">{{ getDept(member.Dept) }}</td>
              </tr>
              <tr>
                <td class="viewButton" colspan="4"><button (click)="openModal3($event)" class="details"
                    id="details">Details</button></td>
              </tr>
              <tr class="showHide">
                <td colspan="4" class="heading">............................................................
                </td>
              </tr>
              <tr class="showHide">
                <td>Fathers Name</td>
                <td>:</td>
                <td colspan="2">{{member.Father_Name}}</td>
              </tr>
              <tr class="showHide">
                <td>Mothers Name</td>
                <td>:</td>
                <td colspan="2">{{member.Mother_Name}}</td>
              </tr>
              <tr class="showHide">
                <td>Gender</td>
                <td>:</td>
                <td colspan="2">{{member.Gender}}</td>
              </tr>
              <tr class="showHide">
                <td>Blood Group</td>
                <td>:</td>
                <td colspan="2">{{member.Blood_Group}}</td>
              </tr>
              <tr class="showHide">
                <td>Joining Date</td>
                <td>:</td>
                <td colspan="2">{{member.Joining}}</td>
              </tr>
              <tr class="showHide">
                <td>Mobile No.</td>
                <td>:</td>
                <td colspan="2">{{member.Mobile}}</td>
              </tr>
              <tr class="showHide">
                <td>Email</td>
                <td>:</td>
                <td colspan="2">{{member.Email}}</td>
              </tr>
              <tr class="showHide">
                <td>Date of Birth</td>
                <td>:</td>
                <td colspan="2">{{member.Date_of_Birth}}</td>
              </tr>
              <tr class="showHide">
                <td>Present Address</td>
                <td>:</td>
                <td colspan="2">{{member.Present_Address}}</td>
              </tr>
              <tr class="showHide">
                <td>Permanent Address</td>
                <td>:</td>
                <td colspan="2">{{member.Permanent_Address}}</td>
              </tr>
              <tr class="showHide">
                <td colspan="4">
                  Academic Details :
                </td>
              </tr>
              <tr class="showHide">
                <th class="colA">Exam</th>
                <th class="colB">Year</th>
                <th class="colC">Result</th>
                <th class="colD">Board / Univarsity</th>
              </tr>
              <tr *ngFor="let ed of member.educations" class="education" class="showHide">
                <td class="colA">{{ed.Exam}}</td>
                <td class="colB">{{ed.Year}}</td>
                <td class="colC">{{ed.Result}}</td>
                <td class="colD">{{ed.Board_Uni}}</td>
              </tr>
              <tr class="showHide">
                <td colspan="4">
                  <br>Experience :
                </td>
              </tr>
              <tr class="showHide">
                <th class="colA">Title</th>
                <th class="colB">Year</th>
                <th class="colC">Description</th>
                <th class="colD">Comment</th>
              </tr>
              <tr *ngFor="let ex of member.experiences" class="experience" class="showHide">
                <td class="colA">{{ex.Title}}</td>
                <td class="colB">{{ex.Year}}</td>
                <td class="colC">{{ex.Description}}</td>
                <td class="colD">{{ex.Comment}}</td>
              </tr>
              <tr class="showHide">
                <td colspan="3" style="color:darkred"><br>Probable Retirement Date : </td>
                <td style="color:darkred"><br>{{member.Retirement}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="container" *ngIf="(exTeachers.length > 0)">
      <div class="row">
        <h3 class="heading3">Ex Teachers</h3>
        <div
          *ngFor="let member of exTeachers | orderBy:'Order' | filter:searchKey:['Name', 'Designation', 'Dept', 'Father_Name', 'Mother_Name', 'Gender', 'Joining', 'Index', 'Mobile', 'TMIS', 'TTIS', 'Email', 'Date_of_Birth', 'Present_Address', 'Permanent_Address', 'Exam', 'Year', 'Result', 'Board_Uni', 'Title', 'Description', 'Comment', 'Retirement']"
          class="col-12 col-xs-8 col-xs-7 col-sm-6 col-md-5 col-lg-4 col-xl-3 col-xxl-2">
          <div class="table-wrapper">
            <table>
              <tr>
                <td colspan="4" class="img"><img [src]="member.Img || './assets/images/teacher.jpg'" class="profile-picture">
                </td>
              </tr>
              <tr>
                <td colspan="4" class="heading"><b>{{member.Name}}</b></td>
              </tr>
              <tr>
                <td colspan="4" class="heading">{{member.Designation}}</td>
              </tr>
              <tr>
                <td colspan="4" class="heading">{{ getDept(member.Dept) }}</td>
              </tr>
              <tr>
                <td class="viewButton" colspan="4"><button (click)="openModal3($event)" class="details"
                    id="details">Details</button></td>
              </tr>
              <tr class="showHide">
                <td colspan="4" class="heading">............................................................
                </td>
              </tr>
              <tr class="showHide">
                <td>Fathers Name</td>
                <td>:</td>
                <td colspan="2">{{member.Father_Name}}</td>
              </tr>
              <tr class="showHide">
                <td>Mothers Name</td>
                <td>:</td>
                <td colspan="2">{{member.Mother_Name}}</td>
              </tr>
              <tr class="showHide">
                <td>Gender</td>
                <td>:</td>
                <td colspan="2">{{member.Gender}}</td>
              </tr>
              <tr class="showHide">
                <td>Blood Group</td>
                <td>:</td>
                <td colspan="2">{{member.Blood_Group}}</td>
              </tr>
              <tr class="showHide">
                <td>Joining Date</td>
                <td>:</td>
                <td colspan="2">{{member.Joining}}</td>
              </tr>
              <tr class="showHide">
                <td>Index No.</td>
                <td>:</td>
                <td colspan="2">{{member.Index}}</td>
              </tr>
              <tr class="showHide">
                <td>TMIS No.</td>
                <td>:</td>
                <td colspan="2">{{member.TMIS}}</td>
              </tr>
              <tr class="showHide">
                <td>TTIS No.</td>
                <td>:</td>
                <td colspan="2">{{member.TTIS}}</td>
              </tr>
              <tr class="showHide">
                <td>Mobile No.</td>
                <td>:</td>
                <td colspan="2">{{member.Mobile}}</td>
              </tr>
              <tr class="showHide">
                <td>Email</td>
                <td>:</td>
                <td colspan="2">{{member.Email}}</td>
              </tr>
              <tr class="showHide">
                <td>Date of Birth</td>
                <td>:</td>
                <td colspan="2">{{member.Date_of_Birth}}</td>
              </tr>
              <tr class="showHide">
                <td>Present Address</td>
                <td>:</td>
                <td colspan="2">{{member.Present_Address}}</td>
              </tr>
              <tr class="showHide">
                <td>Permanent Address</td>
                <td>:</td>
                <td colspan="2">{{member.Permanent_Address}}</td>
              </tr>
              <tr class="showHide">
                <td colspan="4">
                  Academic Details :
                </td>
              </tr>
              <tr class="showHide">
                <th class="colA">Exam</th>
                <th class="colB">Year</th>
                <th class="colC">Result</th>
                <th class="colD">Board / Univarsity</th>
              </tr>
              <tr *ngFor="let ed of member.educations" class="education" class="showHide">
                <td class="colA">{{ed.Exam}}</td>
                <td class="colB">{{ed.Year}}</td>
                <td class="colC">{{ed.Result}}</td>
                <td class="colD">{{ed.Board_Uni}}</td>
              </tr>
              <tr class="showHide">
                <td colspan="4">
                  <br>Experience :
                </td>
              </tr>
              <tr class="showHide">
                <th class="colA">Title</th>
                <th class="colB">Year</th>
                <th class="colC">Description</th>
                <th class="colD">Comment</th>
              </tr>
              <tr *ngFor="let ex of member.experiences" class="experience" class="showHide">
                <td class="colA">{{ex.Title}}</td>
                <td class="colB">{{ex.Year}}</td>
                <td class="colC">{{ex.Description}}</td>
                <td class="colD">{{ex.Comment}}</td>
              </tr>
              <tr class="showHide">
                <td colspan="3" style="color:darkred"><br>Probable Retirement Date : </td>
                <td style="color:darkred"><br>{{member.Retirement}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="container" *ngIf="(exStaffs.length > 0)">
      <div class="row">
        <h3 class="heading3">Ex Staffs</h3>
        <div
          *ngFor="let member of exStaffs | orderBy:'Order' | filter:searchKey:['Name', 'Designation', 'Dept', 'Father_Name', 'Mother_Name', 'Gender', 'Joining', 'Index', 'Mobile', 'TMIS', 'Email', 'Date_of_Birth', 'Present_Address', 'Permanent_Address', 'Exam', 'Year', 'Result', 'Board_Uni', 'Title', 'Description', 'Comment', 'Retirement']"
          class="col-12 col-xs-8 col-xs-7 col-sm-6 col-md-5 col-lg-4 col-xl-3 col-xxl-2">
          <div class="table-wrapper">
            <table>
              <tr>
                <td colspan="4" class="img"><img [src]="member.Img || './assets/images/employee.jpg'" class="profile-picture">
                </td>
              </tr>
              <tr>
                <td colspan="4" class="heading"><b>{{member.Name}}</b></td>
              </tr>
              <tr>
                <td colspan="4" class="heading">{{member.Designation}}</td>
              </tr>
              <tr>
                <td colspan="4" class="heading">{{ getDept(member.Dept) }}</td>
              </tr>
              <tr>
                <td class="viewButton" colspan="4"><button (click)="openModal3($event)" class="details"
                    id="details">Details</button></td>
              </tr>
              <tr class="showHide">
                <td colspan="4" class="heading">............................................................
                </td>
              </tr>
              <tr class="showHide">
                <td>Fathers Name</td>
                <td>:</td>
                <td colspan="2">{{member.Father_Name}}</td>
              </tr>
              <tr class="showHide">
                <td>Mothers Name</td>
                <td>:</td>
                <td colspan="2">{{member.Mother_Name}}</td>
              </tr>
              <tr class="showHide">
                <td>Gender</td>
                <td>:</td>
                <td colspan="2">{{member.Gender}}</td>
              </tr>
              <tr class="showHide">
                <td>Blood Group</td>
                <td>:</td>
                <td colspan="2">{{member.Blood_Group}}</td>
              </tr>
              <tr class="showHide">
                <td>Joining Date</td>
                <td>:</td>
                <td colspan="2">{{member.Joining}}</td>
              </tr>
              <tr class="showHide">
                <td>Mobile No.</td>
                <td>:</td>
                <td colspan="2">{{member.Mobile}}</td>
              </tr>
              <tr class="showHide">
                <td>Email</td>
                <td>:</td>
                <td colspan="2">{{member.Email}}</td>
              </tr>
              <tr class="showHide">
                <td>Date of Birth</td>
                <td>:</td>
                <td colspan="2">{{member.Date_of_Birth}}</td>
              </tr>
              <tr class="showHide">
                <td>Present Address</td>
                <td>:</td>
                <td colspan="2">{{member.Present_Address}}</td>
              </tr>
              <tr class="showHide">
                <td>Permanent Address</td>
                <td>:</td>
                <td colspan="2">{{member.Permanent_Address}}</td>
              </tr>
              <tr class="showHide">
                <td colspan="4">
                  Academic Details :
                </td>
              </tr>
              <tr class="showHide">
                <th class="colA">Exam</th>
                <th class="colB">Year</th>
                <th class="colC">Result</th>
                <th class="colD">Board / Univarsity</th>
              </tr>
              <tr *ngFor="let ed of member.educations" class="education" class="showHide">
                <td class="colA">{{ed.Exam}}</td>
                <td class="colB">{{ed.Year}}</td>
                <td class="colC">{{ed.Result}}</td>
                <td class="colD">{{ed.Board_Uni}}</td>
              </tr>
              <tr class="showHide">
                <td colspan="4">
                  <br>Experience :
                </td>
              </tr>
              <tr class="showHide">
                <th class="colA">Title</th>
                <th class="colB">Year</th>
                <th class="colC">Description</th>
                <th class="colD">Comment</th>
              </tr>
              <tr *ngFor="let ex of member.experiences" class="experience" class="showHide">
                <td class="colA">{{ex.Title}}</td>
                <td class="colB">{{ex.Year}}</td>
                <td class="colC">{{ex.Description}}</td>
                <td class="colD">{{ex.Comment}}</td>
              </tr>
              <tr class="showHide">
                <td colspan="3" style="color:darkred"><br>Probable Retirement Date : </td>
                <td style="color:darkred"><br>{{member.Retirement}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="isProfileModalOpen" class="modal-backdrop" (click)="closeModal3()">
        <div class="modal-container">
            <div class="modal-content" (click)="$event.stopPropagation()">
                <div class="modal-body" [innerHTML]="fullProfileText"></div>
                <button class="close-button" (click)="closeModal3()">&#10006;</button>
            </div>
        </div>
    </div>
  </div>
  <div class="calendar-wrapper" style="margin-bottom: 92px;" [hFilter]="searchKey">
    <button (click)="prevMonth()"><span _ngcontent-ng-c1937629980="" aria-hidden="true"
        class="carousel-control-prev-icon"></span></button>
    <div class="calendar-container">
      <div class="month-wrapper2" #calendarContainer>
        <!-- Months will be dynamically injected here -->
      </div>
    </div>
    <button (click)="nextMonth()"><span _ngcontent-ng-c1937629980="" aria-hidden="true"
        class="carousel-control-next-icon"></span></button>
  </div>