<div class="login_signup_form">
  <h2>Signup</h2>
  <form [formGroup]="authForm" (ngSubmit)="onAuth()">
    <label for="username">Mobile No</label>
    <input type="text" formControlName="username" id="username" placeholder="Your 11 Digits Mobile Number"
      class="form-control"
      [ngClass]="{ 'is-invalid': authForm.get('username')?.touched && authForm.get('username')?.invalid }" />

    <div *ngIf="isMobileNumberRegistered" class="error-message errormessage">
      You don't have an account with this Mobile number. Please <a [routerLink]="['/auth']"
        routerLinkActive="auth">Signup</a> / try
      with a different Mobile number!
    </div>

    <label for="password">Password</label>
    <div class="input-group">
      <input type="{{ showPassword ? 'text' : 'password' }}" formControlName="password" id="password"
        class="form-control"
        [ngClass]="{ 'is-invalid': authForm.get('password')?.touched && authForm.get('password')?.invalid }" />
      <div class="input-group-append">
        <span class="input-group-text" (click)="togglePasswordVisibility()">
          <i class="fa {{ showPassword ? 'fa-eye-slash' : 'fa-eye' }}"></i>
        </span>
      </div>
    </div>
    <div *ngIf="isPasswordMismatch" class="error-message errormessage">
      Your Password doesn't match. Please try again or <a [routerLink]="['/password']" routerLinkActive="reset">Reset</a>
      password / <a [routerLink]="['/auth']" routerLinkActive="auth">Signup</a> with a different Mobile number!
    </div>
    <div *ngIf="isPasswordLength" class="error-message errormessage">
      Password must be within 6 - 14 Characters.
    </div>


    <button type="submit" class="loginButton">Login</button>
    <div class="error-message errormessage submitError">
      Can't Remember Password! Please try to <a [routerLink]="['']" routerLinkActive="reset">Reset</a> it.
    </div>
  </form>

  <p>Don't have an account?</p>
  <a [routerLink]="['/auth']" routerLinkActive="auth" style="text-decoration: none;"><button class="switchButton">
      Signup
    </button></a>
</div>

<div class="gap" style="height: 50px;"></div>


