
<header>
  <div class="navbar">
    <div class="menu-toggle" #menuToggle (click)="toggleMenu()">
        <i class="fa fa-bars"></i><img src="./assets/images/cheradip.svg" class="logo">
    </div>
    <div class="search-bar" id="searchBar">
      <input type="text" class="form-control" name="searchTerm" id="searchTerm" [(ngModel)]="searchTerm" (keyup)="search($event)" placeholder="Fish Name or Code">
      <i class="fa fa-search"></i>
    </div>
    <ul class="menu" [class.active]="menuActive" [@flyInOut] (click)="closeMenu()">
        <li class="menu_item"><a [routerLink]="['']" routerLinkActive=""><i class="fa fa-home"></i>Products</a></li>
        <li class="menu_item"><a [routerLink]="['/blog']" routerLinkActive="blog"><i class="fa pencil fa-pencil-square-o"></i><div class="caution-box writingbox">
          <i class="fa fa-exclamation-circle"></i>
        </div></a></li>
        <li class="menu_item"><a [routerLink]="['/faqs']" routerLinkActive="faqs"><i class="fa fa-question-circle"></i>FAQs</a></li>
        <li class="menu_item"><a [routerLink]="['/about_us']" routerLinkActive="about_us"><i class="fa fa-info-circle"></i>About Us</a></li>
        <li class="menu_item"><a [routerLink]="['/contact_us']" routerLinkActive="contact_us"><i class="fa fa-envelope"></i>Contact Us</a></li>
        
        <li class="menu_item"><a [routerLink]="['/choice']" routerLinkActive="choice"><i class="fa fa-heart fa-heart2"></i><div class="badge">{{totalChoiceItem}}</div></a></li>
        <li class="menu_item"><a [routerLink]="['/cart']" routerLinkActive="cart"><div class="badge badge2">{{totalCartItem}}</div><i class="fa fa-shopping-cart"></i>Cart</a></li>
      </ul>
      <ul class="menu sign_menu" id="sign_menu" #sign_menu>
        <li class="menu_item menu_item0" id="menu_item0"><a [routerLink]="['/login']" routerLinkActive="login"><i class="fa fa-sign-in"></i>Login</a></li>
        <li class="menu_item menu_item1" id="menu_item1"><a [routerLink]="['/auth']" routerLinkActive="auth"><i class="fa fa-user-plus"></i>SignUp</a></li>
      </ul>
      <ul class="profileMenu" id="profileMenu" #profileMenu>
        <li class="menu_item menu_item2" #menu_item2 id="menu_item2" (click)="toggleDropdown()">
          <a><i class="fa fa-user"></i></a>
          <ul class="dropdown" *ngIf="isDropdownOpen">
            <li><a [routerLink]="['/myorder']"><i class="fa fa-shopping-cart"></i>&nbsp;&nbsp; My Order</a></li>
            <li><a [routerLink]="['/profile']"><i class="fa fa-user-edit"></i>&nbsp; Update Profile</a></li>
            <li><a [routerLink]="['/password']"><i class="fa fa-user-edit"></i>&nbsp; Update Password</a></li>
            <li><a (click)="logout()"><i class="fa fa-sign-out-alt"></i>&nbsp;&nbsp; Logout</a></li>
          </ul>
        </li>
      </ul>
</div>

<div id="copyright" class="copyright">
  <ng-container *ngIf="shouldDisplayCopyrightDiv">
    <div class="scaleBeforeCopyright"></div>
    <div class="beforeCopyright"></div>
    &copy;All rights reserved by cheradip.com
    <div class="afterCopyright"></div>
  </ng-container>
</div>
</header>