.contact-container {
  max-width: 1920px;
  margin: 100px auto 30px auto;
  padding: 20px;
  background: #fff;
  font-family: 'Segoe UI', sans-serif;
}
p.member_name {
  margin-bottom: -4px;
  padding-top: 3px;
}
h2 {
  text-align: center;
  margin-bottom: 25px;
  color: white;
  background: rgba(0, 128, 128, 0.75);
  border-radius: 5px;
  padding: 5px;
}

.phone-list button {
  margin: 5px 10px 5px 10px;
    padding: 10px 20px;
    border: 1px dotted teal;
    background-color: #fff;
    color: #000;
    border-radius: 7px;
    cursor: pointer;
    transition: 0.3s ease;
    box-shadow: 0 0 5px rgba(0, 128, 128, 0.25);
}

.phone-list button:hover {
  background-color: teal;
}

.container {
  border-radius: 12px;
  border: 1px dotted teal;
  margin: 30px auto;
  padding: 20px;
  text-align: center;
  width: 48%;
  max-width: 800px;
  box-shadow: 0 0 10px rgba(0, 128, 128, 0.50);
}
.row {
  column-gap: 20px;
}

h3 {
  color: white;
  background: rgba(0, 128, 128, 0.75);
  padding: 3px;
  border-radius: 7px;
}

div.order{
  margin-top: 25px;
}

.alert {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: teal;
  padding: 5px 25px;
  font-size: 16px;
  text-align: center;
  z-index: 99999;
  border-radius: 7px;
  border: 1px dotted teal;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  background: white;
}

img.contactImage {
  border-radius: 12px;
  width: 92px;
  height: 107px;
  position: absolute;
  margin-left: -200px;
  margin-top: 5px;
}

.deptLabel {
  background-color: rgba(0, 128, 128, 0.25);
  color: green;
  padding: 7px 12px;
}

.deptSelect {
  background-color: white;
  color: teal;
  padding: 5px;
  border: 3px dotted rgba(0, 128, 128, 0.25);
}

.deptOption {
  background-color: white;
  color: teal;
}

.deptSelect:focus {
  box-shadow: 0 0 10px rgba(0, 128, 128, 0.25);
  outline: none;
  background-color: #f0faff;
}

.deptOption:hover {
  background-color: #e0f7ff;
}


@media screen and (min-width: 220px) {
  .container {
  width: 90%;
    }
    img.contactImage {
      position: relative;
      margin-left: auto;
      margin-bottom: 7px;
  }
}

@media screen and (min-width: 360px) {
}

@media screen and (min-width: 480px) {
}

@media screen and (min-width: 480px) {
    img.contactImage {
      position: absolute;
      margin-left: -200px;
  }
}

@media screen and (min-width: 576px) {
  .container {
  width: 48%;
    }
    img.contactImage {
      position: relative;
      margin-left: auto;
  }
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 840px) {
  p.member_name{
    margin-bottom: -14px;
    padding-top: 10px;
  }
  img.contactImage {
    margin-top: 12px;
    width: 84px;
    height: 98px;
    position: absolute;
    margin-left: -188px;
}
}

@media screen and (min-width: 992px) {
  img.contactImage {
    margin-top: 5px;
  width: 92px;
  height: 107px;
    margin-left: -200px;
}
}