<div class="contact-container">
  
  <div *ngIf="showAlert" class="alert">
    {{ alertMessage }}
  </div>

  <h2>Contact Us</h2>
    <div class="row">
      
  <div class="container col-12 col-xs-6 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
    <h3>Governing Body</h3>
    <div *ngFor="let teacher of teachers" class="section">
      <div class="order" *ngIf="teacher.Order === 1">
      <h4><b>{{teacher.Name}}</b><br>{{teacher.Designation}}</h4>
      <div class="phone-list">
        <button (click)="copyNumber(teacher.Mobile)">
          <i class="fas fa-phone"></i> {{ teacher.Mobile }}
        </button>
        <button (click)="copyNumber(teacher.Email)"><i class="fas fa-envelope"></i> {{ teacher.Email }}</button>
      </div>
    </div>
    <div class="order" *ngIf="teacher.Order === 2">
    <h4><b>{{teacher.Name}}</b><br>{{teacher.Designation}}</h4>
    <div class="phone-list">
      <button (click)="copyNumber(teacher.Mobile); copyNumber(teacher.Mobile)">
        <i class="fas fa-phone"></i> {{ teacher.Mobile }}
      </button>
      <button (click)="copyNumber(teacher.Email)"><i class="fas fa-envelope"></i> {{ teacher.Email }}</button>
    </div>
  </div>
  </div>
</div>

<div class="container col-12 col-xs-6 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
  <h3>Administration</h3>
  <div *ngFor="let teacher of teachers" class="section">
    <div class="order" *ngIf="teacher.Order === 1">
    <h4><b>{{teacher.Name}}</b><br>{{teacher.Designation}}</h4>
    <div class="phone-list">
      <button (click)="copyNumber(teacher.Mobile); copyNumber(teacher.Mobile)">
        <i class="fas fa-phone"></i> {{ teacher.Mobile }}
      </button>
      <button (click)="copyNumber(teacher.Email)"><i class="fas fa-envelope"></i> {{ teacher.Email }}</button>
    </div>
  </div>
  <div class="order" *ngIf="teacher.Order === 2">
  <h4><b>{{teacher.Name}}</b><br>{{teacher.Designation}}</h4>
  <div class="phone-list">
    <button (click)="copyNumber(teacher.Mobile); copyNumber(teacher.Mobile)">
      <i class="fas fa-phone"></i> {{ teacher.Mobile }}
    </button>
    <button (click)="copyNumber(teacher.Email)"><i class="fas fa-envelope"></i> {{ teacher.Email }}</button>
  </div>
</div>
</div>
</div>

<div class="container col-12 col-xs-6 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
  <h3>Office</h3>
  <div *ngFor="let teacher of teachers" class="section">
    <div class="order" *ngIf="teacher.Order === 1">
    <h4><b>{{teacher.Name}}</b><br>{{teacher.Designation}}</h4>
    <div class="phone-list">
      <button (click)="copyNumber(teacher.Mobile); copyNumber(teacher.Mobile)">
        <i class="fas fa-phone"></i> {{ teacher.Mobile }}
      </button>
      <button (click)="copyNumber(teacher.Email)"><i class="fas fa-envelope"></i> {{ teacher.Email }}</button>
    </div>
  </div>
  <div class="order" *ngIf="teacher.Order === 2">
  <h4><b>{{teacher.Name}}</b><br>{{teacher.Designation}}</h4>
  <div class="phone-list">
    <button (click)="copyNumber(teacher.Mobile); copyNumber(teacher.Mobile)">
      <i class="fas fa-phone"></i> {{ teacher.Mobile }}
    </button>
    <button (click)="copyNumber(teacher.Email)"><i class="fas fa-envelope"></i> {{ teacher.Email }}</button>
  </div>
</div>
<div class="order" *ngIf="teacher.Order === 3">
<h4><b>{{teacher.Name}}</b><br>{{teacher.Designation}}</h4>
<div class="phone-list">
  <button (click)="copyNumber(teacher.Mobile); copyNumber(teacher.Mobile)">
    <i class="fas fa-phone"></i> {{ teacher.Mobile }}
  </button>
  <button (click)="copyNumber(teacher.Email)"><i class="fas fa-envelope"></i> {{ teacher.Email }}</button>
</div>
</div>
<div class="order" *ngIf="teacher.Order === 4">
<h4><b>{{teacher.Name}}</b><br>{{teacher.Designation}}</h4>
<div class="phone-list">
  <button (click)="copyNumber(teacher.Mobile); copyNumber(teacher.Mobile)">
    <i class="fas fa-phone"></i> {{ teacher.Mobile }}
  </button>
  <button (click)="copyNumber(teacher.Email)"><i class="fas fa-envelope"></i> {{ teacher.Email }}</button>
</div>
</div>
</div>
</div>

<div class="container col-12 col-xs-6 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
  <h3>Department</h3>
  <div *ngFor="let teacher of teachers" class="section">
    <div class="order" *ngIf="teacher.Order === 1">
    <h4><b>{{teacher.Name}}</b><br>{{teacher.Designation}}</h4>
    <div class="phone-list">
      <button (click)="copyNumber(teacher.Mobile); copyNumber(teacher.Mobile)">
        <i class="fas fa-phone"></i> {{ teacher.Mobile }}
      </button>
      <button (click)="copyNumber(teacher.Email)"><i class="fas fa-envelope"></i> {{ teacher.Email }}</button>
    </div>
  </div>
  <div class="order" *ngIf="teacher.Order === 2">
  <h4><b>{{teacher.Name}}</b><br>{{teacher.Designation}}</h4>
  <div class="phone-list">
    <button (click)="copyNumber(teacher.Mobile); copyNumber(teacher.Mobile)">
      <i class="fas fa-phone"></i> {{ teacher.Mobile }}
    </button>
    <button (click)="copyNumber(teacher.Email)"><i class="fas fa-envelope"></i> {{ teacher.Email }}</button>
  </div>
</div>
</div>
</div>
</div>

</div>