<div class="login_signup_form">
  <h2>Signup</h2>
  <form [formGroup]="authForm" (ngSubmit)="onAuth()">
    <label for="username">Mobile No</label>
    <input type="text" formControlName="username" id="username" placeholder="Your 11 Digits Mobile Number"
      class="form-control" [ngClass]="{ 'is-invalid': authForm.get('username')?.touched && authForm.get('username')?.invalid }" />

    <div *ngIf="isMobileNumberRegistered" class="error-message errormessage">
      This Mobile number is already registered. Please <a [routerLink]="['/login']" routerLinkActive="login">Login</a> /
      <a [routerLink]="['']" routerLinkActive="reset">Reset Password</a> / try with a different Mobile number.....
    </div>
    <label for="password">Password</label>
    <div class="input-group">
      <input type="{{ showPassword ? 'text' : 'password' }}" formControlName="password" id="password"
        class="form-control" [ngClass]="{ 'is-invalid': authForm.get('password')?.touched && authForm.get('password')?.invalid }" />
      <div class="input-group-append">
        <span class="input-group-text" (click)="togglePasswordVisibility()">
          <i class="fa {{ showPassword ? 'fa-eye-slash' : 'fa-eye' }}"></i>
        </span>
      </div>
    </div>
    <div *ngIf="isPasswordLength" class="error-message errormessage">
      Password must be within 6 - 14 Characters.
    </div>

    <label for="fullName">Full Name</label>
    <input type="text" formControlName="fullName" id="fullName" class="form-control"
      [ngClass]="{ 'is-invalid': authForm.get('fullName')?.touched && authForm.get('fullName')?.invalid }" />


    <label for="male">Gender</label>
    <div class="gender_options">
      <label class="male">
        <input type="radio" id="male" formControlName="gender" name="gender" value="Male" class="male" /> Male
      </label>
      <label>
        <input type="radio" id="female" formControlName="gender" name="gender" value="Female" class="other" /> Female
      </label>
      <label>
        <input type="radio" id="common" formControlName="gender" name="gender" value="Common" class="other" /> Common
      </label>
    </div>

    <label for="division">Division</label>
    <select class="address form-control" formControlName="division" id="division" (change)="onDivisionChange()"
      class="form-control" [ngClass]="{ 'is-invalid': authForm.get('division')?.touched && authForm.get('division')?.invalid }">
      <option value="">Select Division</option>
      <option *ngFor="let division of divisions" [value]="division">{{ division }}</option>
    </select>

    <label for="district">District</label>
    <select class="address form-control" formControlName="district" id="district" (change)="onDistrictChange()"
      class="form-control"
      [ngClass]="{ 'is-invalid': authForm.get('district')?.touched && authForm.get('district')?.invalid }">
      <option value="">Select District</option>
      <option *ngFor="let district of districts" [value]="district">{{ district }}</option>
    </select>

    <label for="thana">Thana / UZ</label>
    <select class="address form-control" formControlName="thana" id="thana" class="form-control"
      [ngClass]="{ 'is-invalid': authForm.get('thana')?.touched && authForm.get('thana')?.invalid }">
      <option value="">Select Thana</option>
      <option *ngFor="let thana of thanas" [value]="thana">{{ thana }}</option>
    </select>

    <label for="union">PO / Union</label>
    <input type="text" formControlName="union" id="union" placeholder="Your Post Office / Union" class="form-control"
      [ngClass]="{ 'is-invalid': authForm.get('union')?.touched && authForm.get('union')?.invalid }" />

    <label for="village">Local Address</label>
    <textarea id="village" formControlName="village" id="village" class="form-control"
      [ngClass]="{ 'is-invalid': authForm.get('village')?.touched && authForm.get('village')?.invalid }"
      placeholder="Enter Your Village, Para/Moholla, Road No, Block No, Quarter No, Floor No etc....."></textarea>

    <button type="submit" class="signupButton">Signup</button>
  </form>

  <p>Already have an account?</p>
  <a [routerLink]="['/login']" routerLinkActive="login" style="text-decoration: none;"><button class="switchButton">
      Login
    </button></a>
</div>