@import '../auth/auth.component.css';

.console-output{
    margin: 0 auto 0 auto;
    width: max-content;
    text-align: center; 
    color: darkred;
  }

.input-group{
    width: 310px;
    margin-left: 40px;
}
.passwordCheck{
    margin-left: 100px !important;
    text-align: justify;
}
button{
    margin: 15px auto 0 auto !important;
    width: 200px;
}