<div class="login_signup_form">
    <h2>Password Update</h2>
    <form [formGroup]="authForm" (ngSubmit)="onAuth()">
        <div class="form-group">
            <label for="username">Mobile No</label>
            <div class="input-group">
                <input type="text" class="form-control" id="username" [(ngModel)]="username" formControlName="username"
                    [readonly]="true" [disabled]="true"
                    style="user-select: none; pointer-events: none; text-align: center;" *ngIf="username"
                    [value]="username" />
            </div>
        </div>
        <div class="form-group">
            <label for="password">Old Password</label>
            <div class="input-group">
                <input type="{{ showPassword ? 'text' : 'password' }}" formControlName="password" id="password"
                    class="form-control"
                    [ngClass]="{ 'is-invalid': authForm.get('password')?.touched && authForm.get('password')?.invalid }" />
                <div class="input-group-append">
                    <span class="input-group-text" (click)="togglePasswordVisibility()">
                        <i class="fa {{ showPassword ? 'fa-eye-slash' : 'fa-eye' }}"></i>
                    </span>
                </div>

                <div *ngIf="isPasswordMismatch" class="error-message errormessage passwordCheck">
                    Your Password doesn't match. Please try again or <a [routerLink]="['']"
                        routerLinkActive="reset">Reset</a>
                    password / <a [routerLink]="['/auth']" routerLinkActive="auth">Signup</a> with a different Mobile
                    number!
                </div>
                <div *ngIf="isPasswordLength" class="error-message errormessage passwordCheck">
                    Password must be within 6 - 14 Characters.
                </div>
            </div>

        </div>
        <div class="form-group">
            <label for="newpassword">New Password</label>
            <div class="input-group">
                <input type="{{ showPassword ? 'text' : 'password' }}" formControlName="newpassword" id="newpassword"
                    class="form-control"
                    [ngClass]="{ 'is-invalid': authForm.get('newpassword')?.touched && authForm.get('newpassword')?.invalid }" />
                <div class="input-group-append">
                    <span class="input-group-text" (click)="togglePasswordVisibility()">
                        <i class="fa {{ showPassword ? 'fa-eye-slash' : 'fa-eye' }}"></i>
                    </span>
                </div>
                <div *ngIf="isPasswordLength2" class="error-message errormessage passwordCheck">
                    Password must be within 6 - 14 Characters.
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="confirmpassword">Confirm Password</label>
            <div class="input-group">
                <input type="{{ showPassword ? 'text' : 'password' }}" formControlName="confirmpassword" id="confirmpassword"
                    class="form-control"
                    [ngClass]="{ 'is-invalid': authForm.get('confirmpassword')?.touched && authForm.get('confirmpassword')?.invalid }" />
                <div class="input-group-append">
                    <span class="input-group-text" (click)="togglePasswordVisibility()">
                        <i class="fa {{ showPassword ? 'fa-eye-slash' : 'fa-eye' }}"></i>
                    </span>
                </div>
                <div *ngIf="isPasswordMismatch3" class="error-message errormessage passwordCheck">
                    Your Password doesn't match. Please try again!
                </div>
            </div>
        </div>

        <div #consoleOutput class="console-output"></div>
        <button type="submit">Update</button>
    </form>
</div>
<div class="gap" style="height: 100px;"></div>