
select.itemSize {
  border: none;       
  outline: none;
  background-color: transparent;
  margin-top: -32px;
  display: flex;
  margin-left: 40px;
  margin-right: -10px;
  padding: 4px 10px 4px 0;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
}
select.itemSize:hover{
  border: none;       
  outline: none;
  background-color: rgb(105, 185, 185);
}

.product-list-shadow {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px; /* Adjust as needed */
}

.loading-item {
  width: calc(33.33% - 20px); /* Adjust the width and gap to match your design */
  height: 300px; /* Adjust the height as needed */
  background-color: #f0f0f0; /* Placeholder color for the loading item */
  border-radius: 8px;
  animation: pulse 1.5s infinite alternate; /* Animation for the pulse effect */
}

@keyframes pulse {
  0% {
    opacity: 0.5;
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: scale(1.05);
  }
}

.footer a i {
  margin-right: 2px;
  color: teal;
}

.footer a {
  margin-right: 10px;
}

ul.item-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

li {
  border: 2px solid rgba(0, 128, 128, 0.75);
  border-radius: 5px;
  padding: 0;
  margin-bottom: 10px;
  background-color: transparent;
  position: relative;
}
ul.filterItem li {
  border: 2px solid rgba(0, 128, 128, 0.75);
  border-radius: 5px;
  padding: 5px 10px;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.25);
  position: relative;
  list-style: none;
  margin-right: -20px;
  height: 32px;
  margin-top: 72px;
  margin-left: 30px;
  left: 0;
  user-select: none;
  cursor: pointer;
}
ul.filterItem li:hover{
  background-color: teal;
}
h3.title {
  color: #ffffff;
  font-size: 20px;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(105, 185, 185);
  padding: 7px;
  text-align: center;
  vertical-align:middle;
  font-weight: 100;
}
h1.msg{
  text-align: center;
  color: darkred;
  text-shadow: 0 0 15px teal;
  /* text-shadow: -1px -1px 0 teal; */
  font-size: 28px;
  margin: 115px 0 -10px 0 !important;
  font-family: roboto regular;
}
p.price {
  font-size: 18px;
  margin: 0;
  position: absolute;
  bottom: 30px;
  color: #ffffff;
  left: 0;
  right: 0;
  background-color: rgb(105, 185, 185);
  padding: 5px;
  text-align: center;
}
p.footer {
  font-size: 12px;
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 1);
  padding-top: 6px;
  padding-bottom: 7px;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-top: 1px;
  user-select: none;
  pointer-events: none;
}

.fa {
  margin-right: 5px;
}

.item-list li {
    display: inline-block;
    box-sizing: border-box;
    margin: 20px;
    width: 80%;
    user-select: none;
  }

.item_footer {
  text-decoration: none;
  color: black;
  font-size: 14px;
  cursor: pointer;
}
.footer a i.fa-heart:hover{
  color: yellowgreen;
}
.footer a i.fa-heart:active{
  color: red;
}
a:hover{
  color: teal;
}

.addedtocart {
  color: green !important;
  border-radius: 50%;
}
.outofstock{
  color: darkred !important;
}
.choice{
  color: red !important;
}
img.filter{
  height: 50px;
  padding-top: 24px;
  padding-left: 10px;
  margin-top: 50px;
  /* margin-top: -60px; */
  position: fixed;
  user-select: none;
  pointer-events: none;
}
.filterItem {
  margin-left: 20px;
  position: fixed;
  /* margin-top: -110px; */
  z-index: 50;
}


@media screen and (max-width: 539px) {
  .filter{
    margin-top: 89px !important;
  }
  ul.filterItem{
    margin-top: 39px !important;
  }
  h1.msg {
    margin-top: 155px !important;
}
}

@media screen and (max-width: 767px) {
  h1.msg {
    margin-bottom: -14px;
    font-size: 20px;
    
  }
}

@media screen and (min-width: 1100px) {
  h1.msg {
    margin-top: -10px;
    margin-bottom: -15px;
    font-size: 24px;
    
  }
}

@media screen and (max-width: 1099px) {
  h1.msg {
    margin-bottom: -14px;
    font-size: 24px;
    
  }
}

@media screen and (min-width:768px) and (max-width: 1199px) {
  .item-list li {
    width: 42%;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1599px) {
  .item-list li {
    width: 28%;
  }
}

@media screen and (min-width: 1600px) {
  .item-list li {
    width: 21%;
  }
}
li.item.selected {
  background-color: teal !important;
  color: #ffffff;
}