.container.ng-star-inserted {
  margin-top: 130px;
}
.container{
  max-width: 1000px !important;
}

/* .order {
  text-align: center;
  margin: 62px auto auto auto;
  padding-top: 18px;
  position: absolute;
  color: teal;
} */
.order {
  text-align: center;
  margin: 72px auto auto auto;
  padding-top: 18px;
  color: teal;
}
.previous_order,
.current_order {
  font-family: Roboto Thin;
  background-color: transparent;
  color: teal;
  background-color: #fff;
  border: none;
  position: fixed;
  padding: 20px 1px 7px 1px;
  margin-top: -13px;
  ;
  width: 130px;
  z-index: 9;
  --bs-btn-color: #fff;
  --bs-btn-bg: #fff;
  --bs-btn-border-color: #fff;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #fff;
  --bs-btn-hover-border-color: #fff;
  --bs-btn-focus-shadow-rgb: 60, 153, 110;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #fff;
  --bs-btn-active-border-color: #fff;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #fff;
  --bs-btn-disabled-border-color: #fff;
}

.previous_order {
  left: 50px;
  border-bottom-left-radius: 40px;
}

.current_order {
  left: 180px;
  border-bottom-right-radius: 40px;
}

.card {
  height: 60vh;
  margin: 25px;
  padding: 25px;
}

.center img {
  text-decoration: none;
  color: inherit;
  border: none;
  outline: none;
  height: 162px;
  width: 250px;
  margin: 20px 0px;
  user-select: none;
  pointer-events: none;
}

h4,
h6 {
  font-weight: 400;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.card-table {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: none;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: .25rem;
}

.center .btn .btn-primary {
  font-size: 14px !important;
  margin-top: 20px !important;
  font-weight: 400;
  padding: 7px 30px;
  background-color: teal;
  color: #fff;
  border-radius: 10px !important;
  border: none;
  border-bottom: 1px solid white;
}

th,
td {
  vertical-align: middle;
  text-align: center;
}

.idq {
  cursor: pointer;
  padding: 0 5px;
  text-shadow: 0 0 10px teal;
}

.containerTop {
  padding-top: 110px;
}

.confirm-order.ng-star-inserted {
  margin: 30px auto 0 auto;
  display: table;
}

[class^="col-"] {
  flex: 0 0 0;
  width: 100%;
  margin: auto;
}

.form-control {
  margin: -30px 0 24px 120px;
  display: block;
  width: 230px;
  text-align: center;
}

h3 {
  margin: 20px auto;
}

.confirm {
  font-size: 20px;
}

.left_arrow {
  color: teal;
  margin-top: 11px;
  position: fixed;
  margin-left: 39px;
  font-size: 13px;
  z-index: 10;
}

.right_arrow {
  color: teal;
  margin-top: 12px;
  position: fixed;
  margin-left: 297px;
  font-size: 12px;
  z-index: 10;

}

/* textarea#village {
  width: 82%;
} */
.payment{
  padding: 7px;
  border-radius: 5px;
  min-width: 230px;
  display: inline-block;
}
input#trxid{
margin-left: 70px;
margin-top: -10px;
}
input#paidFrom{
margin-left: 100px;
margin-top: -10px;
}
select#paymentMethod {
  margin-left: 50px;
}

table.table.table-responsive {
  margin-bottom: 0;
  outline-style: dashed;
  outline-color: white;
}

label,
textarea,
input,
table,
div,
h1,
h2,
h3,
h4,
h5,
h6,
img,
option {
  user-select: none;
}

img.no-select {
  user-select: none;
  pointer-events: none;
}

.shopMore {
  margin: 0 0 0 auto;
  display: block;
}

.table>:not(caption)>*>* {
  padding: 0.5rem 0.25rem;
}

#btn3 {
  --bs-btn-padding-x: 0.65rem;
  --bs-btn-padding-y: 0.25rem;
}

small {
  font-weight: 100;
}

h3.h3order {
  margin-top: -130px;
}

.invalid-field {
  border: 1px solid red;
}
.paymentProcess {
  text-align: justify;
}
.row.paymentRow {
  text-align: center;
}
.console-output{
  margin: -24px auto 24px auto;
  width: max-content;
  text-align: center; 
  color: darkred;
}
h3{
  text-align: center;
}
textarea#village {
  width: 100%;
  margin-left: 0;
  margin-top: 10px;
}
.card-table{
  max-width: 1000px !important;
  margin: auto;
}
/* will be deleted late */
form{
  margin-top: -92px;
}
.search-bar.ng-tns-c1116856951-0 {
    display: none;
}