
<div class="order">
    <i class="fas fa-arrow-left left_arrow"></i>
    <button routerLink="/order" class="btn btn12 previous_order btn1 btn-success">Previous Order</button>
    <button routerLink="/order" class="btn btn12 current_order btn2 btn-success">Current Order</button>
    <i class="fa fa-arrow-down right_arrow"></i>
</div>
<form (submit)="saveJsonData()">
    <ng-container *ngIf="products.length != 0">
        <!-- Customer Details -->
        <div class="user-details">
            <div class="container containerTop">
                <h3>Customer Details</h3>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="fullName">User Name</label>
                            <input type="text" class="form-control" id="fullName" [(ngModel)]="fullName" name="fullName" *ngIf="fullName; else noFullName" [value]="fullName" />
                            <ng-template #noFullName>
                                <input type="text" class="form-control" id="fullName" [(ngModel)]="jsonData.fullName" name="fullName" [value]="" placeholder="Enter your full Name"/>
                            </ng-template>                              
                        </div>
                        <div class="form-group">
                            <label for="username">Mobile No</label>
                            <input type="text" class="form-control" id="username" [(ngModel)]="username" name="username" [readonly]="true" [disabled]="true" style="user-select: none; pointer-events: none;" *ngIf="username" [value]="username" />
                        </div>
                        <div class="form-group">
                            <label for="altMobileNo">2<sup>nd</sup> Mobile No</label>
                            <input type="text" class="form-control" id="altMobileNo" [(ngModel)]="jsonData.altMobileNo" name="altMobileNo" [value]="" placeholder="Enter Alternative Number"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Address Details -->
        <div class="address-details">
            <div class="container">
                <h3>Address Details</h3>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="division" class="addressLevel">Division</label>
                            <select class="addressSelect" [(ngModel)]="jsonData.division" (ngModelChange)="onDivisionChange()" id="division" name="division">
                                <option value="">Select Division</option>
                                <option *ngFor="let division of divisions" [value]="division">{{ division }}</option>
                            </select>
                            <br><br>
                            <label for="district" class="addressLevel">District</label>
                            <select class="addressSelect" [(ngModel)]="jsonData.district" (ngModelChange)="onDistrictChange()" id="district" [disabled]="!jsonData.division" name="district">
                                <option value="">Select District</option>
                                <option *ngFor="let district of districts" [value]="district">{{ district }}</option>
                            </select>
                            <br><br>
                            <label for="thana" class="addressLevel">Thana / UZ</label>
                            <select class="addressSelect" [(ngModel)]="jsonData.thana" [disabled]="!jsonData.district" id="thana" name="thana">
                                <option value="">Select Thana</option>
                                <option *ngFor="let thana of thanas" [value]="thana">{{ thana }}</option>
                            </select>
                            <br><br>
                            <label for="union">Union / Word</label>
                            <input type="text" class="form-control" id="union" [(ngModel)]="union" name="union" *ngIf="union; else noUnion" [value]="union" />
                            <ng-template #noUnion>
                                <input type="text" class="form-control" id="union" [(ngModel)]="jsonData.union" name="union" [value]="" />
                            </ng-template> 
                            <label for="village">Local Address</label>
                            <textarea class="form-control" id="village" [(ngModel)]="village" name="village" *ngIf="village; else noVillage">{{ village }}</textarea>
                            <ng-template #noVillage>
                                <textarea class="form-control" id="village" [(ngModel)]="jsonData.village" name="village" placeholder="Enter your local address like Area/Village, Para/Moholla, Road No, Quarter No, Floor No etc..."></textarea>
                            </ng-template> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <h3 class="h3order"> Order Details</h3>
            <div class="card-table">
                <div class="cart-product">
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th style="width: 5%;">SN</th>
                                <th>Name</th>
                                <th>Image</th>
                                <th style="width: 8%;">Weight</th>
                                <th style="width: 10%;">Price</th>
                                <th style="width: 16%;">Quantity</th>
                                <th style="width: 12%;">Discount</th>
                                <th style="width: 12%;">Total</th>
                                <th style="width: 7%;">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of products; let i = index">
                                <td>{{i+1}}</td>
                                <td>{{item.name}} - {{item.code}}<br>({{item.bangla_name}})</td>
                                <td><img style="width: 70px; height: 60px;" src="{{item.image}}" alt="" class="no-select"></td>
                                <td>{{item.weight}} kg</td>
                                <th>{{productPrice(item)}} /=<br><small>({{productPrice2(item)}}/kg)</small></th>
                                <td>
                                    <b class="decreaseQuantity idq" (click)=decreaseQuantity(item)>--</b>
                                    &nbsp;&nbsp; {{item.quantity}} &nbsp;&nbsp;
                                    <b class="increaseQuantity idq" (click)=increaseQuantity(item)>+</b>
                                </td>
                                <th>{{ savedPrice(item) }} /=</th>
                                <th>{{ totalPrice(item) }} /=</th>
                                <td>
                                    <button (click)="removeCartItem(item)" class="btn btn-danger" id="btn2"><i
                                            class="fas fa-trash-alt"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="9" style="text-align: right; padding-right: 12px;"><strong>Grand Total : &nbsp;&nbsp;&nbsp; {{grandTotal}} tk</strong><sub> @<del> {{ grandDiscount }}</del> tk Saved <b>{{ grandDiscount - grandTotal }}</b> tk</sub></td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- <button routerLink="/products" class="btn btn-primary">Shop More</button> -->
                </div>
            </div>
            <button routerLink="/products" class="btn btn-primary shopMore">Shop More</button>
        </div>
        <div class="payment-method">
            <div class="container">
                <h3>Payment Method</h3>
                <div class="row paymentRow">
                    <div class="col-md-6">
                        <div class="form-group">আপনার সুবিধামত নিচের যেকোন একটি পেমেন্ট পদ্ধতি নির্বাচন করুন। অর্ডারটি
                            কনফার্ম করতে ন্যূনতম ১০০ টাকা Send Money / Transfer Balance করে Transaction ID প্রদান করুন। 
                            পণ্য কুরিয়ারে পাঠানোর পূর্বে অর্ডার বাতিল করলে পূর্ণ টাকা ফেরত পাবেন। অন্যথায়, শর্তসাপেক্ষে আংশিক টাকা ফেরৎযোগ্য।<br><br>
    
                            <label for="paymentMethod">Payment Method</label>
                            <select class="paymentMethod" id="paymentMethod" [(ngModel)]="jsonData.paymentMethod"
                                name="paymentMethod">
                                <option value="">Select Payment Method</option>
                                <option value="bkash">bKash</option>
                                <option value="nagad">Nagad</option>
                                <option value="dbbl">DBBL</option>
                                <option value="other">Others</option>
                            </select><br><br>
                            <label for="trxid">Transaction ID</label><input id="trxid" [(ngModel)]="jsonData.trxid" [disabled]="!jsonData.paymentMethod" name="trxid" type="text" value="" placeholder="Enter Your Transaction ID"><br><br>
                            <label for="paidFrom">Paid From</label><input style="margin-left: 69px;" id="paidFrom" [(ngModel)]="jsonData.paidFrom" [disabled]="!jsonData.trxid" name="paidFrom" type="text" value="" placeholder="Enter Your Account Number">
                            <br><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div #consoleOutput class="console-output" style="text-align: center; color: darkred; margin-left: 100px; width: 82%"></div>
        <div class="confirm-order">
            <div class="container">
                <button class="btn btn-success confirm">Confirm Order</button>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="products.length ==0">
        <div class="container">
            <div class="card">
                <h5 class="card-title">My Order</h5>
            </div>
            <div class="center">
                <img src="../../../assets/images/order.jpg" alt="">
                <h4>Your Order is empty!</h4>
                <h6>To order fish click on Shop now button!</h6>
                <button routerLink="/products" class="btn btn-primary">Shop Now</button>
            </div>
        </div>
        
    </ng-container>
    
    <div class="copyright"
        style="text-align: center; font-size: 12px; background-color: teal; padding: 7px 10px 5px 10px; margin-top: 100px;">
        &copy;All rights reserved by cheradip.com
    </div>
    <!-- here -->
    <!-- jakle -->
    

