<div style="margin-top: 115px; margin-bottom: 80px;" [hFilter]="searchKey">
    <div class="container" *ngIf="(teachers.length > 0)">
        <div class="row">
            <h3 class="heading3">MPO Teachers</h3>
            <div *ngFor="let member of teachers | orderBy:'Order' | filter:searchKey:['Name', 'Designation', 'Dept', 'Father_Name', 'Mother_Name', 'Gender', 'Joining', 'Index', 'Mobile', 'TMIS', 'TTIS', 'Email', 'Date_of_Birth', 'Present_Address', 'Permanent_Address', 'Exam', 'Year', 'Result', 'Board_Uni', 'Title', 'Description', 'Comment', 'Retirement']"
                class="col-12 col-xs-8 col-xs-7 col-sm-6 col-md-5 col-lg-4 col-xl-3 col-xxl-2">
                <div class="table-wrapper">
                    <table>
                        <tr>
                            <td colspan="4" class="img"><img [src]="member.Img || './assets/images/teacher.jpg'"
                                    class="profile-picture"></td>
                        </tr>
                        <tr>
                            <td colspan="4" class="heading"><b>{{member.Name}}</b></td>
                        </tr>
                        <tr>
                            <td colspan="4" class="heading">{{member.Designation}}</td>
                        </tr>
                        <tr>
                            <td colspan="4" class="heading">{{ getDept(member.Dept) }}</td>
                        </tr>
                        <tr>
                            <td class="viewButton" colspan="4"><button (click)="openModal($event)" class="details"
                                    id="details">Details</button></td>
                        </tr>
                        <tr class="showHide">
                            <td colspan="4" class="heading">............................................................
                            </td>
                        </tr>
                        <tr class="showHide">
                            <td>Fathers Name</td>
                            <td>:</td>
                            <td colspan="2">{{member.Father_Name}}</td>
                        </tr>
                        <tr class="showHide">
                            <td>Mothers Name</td>
                            <td>:</td>
                            <td colspan="2">{{member.Mother_Name}}</td>
                        </tr>
                        <tr class="showHide">
                            <td>Gender</td>
                            <td>:</td>
                            <td colspan="2">{{member.Gender}}</td>
                        </tr>
                        <tr class="showHide">
                            <td>Blood Group</td>
                            <td>:</td>
                            <td colspan="2">{{member.Blood_Group}}</td>
                        </tr>
                        <tr class="showHide">
                            <td>Joining Date</td>
                            <td>:</td>
                            <td colspan="2">{{member.Joining}}</td>
                        </tr>
                        <tr class="showHide">
                            <td>Index No.</td>
                            <td>:</td>
                            <td colspan="2">{{member.Index}}</td>
                        </tr>
                        <tr class="showHide">
                            <td>TMIS No.</td>
                            <td>:</td>
                            <td colspan="2">{{member.TMIS}}</td>
                        </tr>
                        <tr class="showHide">
                            <td>TTIS No.</td>
                            <td>:</td>
                            <td colspan="2">{{member.TTIS}}</td>
                        </tr>
                        <tr class="showHide">
                            <td>Mobile No.</td>
                            <td>:</td>
                            <td colspan="2">{{member.Mobile}}</td>
                        </tr>
                        <tr class="showHide">
                            <td>Email</td>
                            <td>:</td>
                            <td colspan="2">{{member.Email}}</td>
                        </tr>
                        <tr class="showHide">
                            <td>Date of Birth</td>
                            <td>:</td>
                            <td colspan="2">{{member.Date_of_Birth}}</td>
                        </tr>
                        <tr class="showHide">
                            <td>Present Address</td>
                            <td>:</td>
                            <td colspan="2">{{member.Present_Address}}</td>
                        </tr>
                        <tr class="showHide">
                            <td>Permanent Address</td>
                            <td>:</td>
                            <td colspan="2">{{member.Permanent_Address}}</td>
                        </tr>
                        <tr class="showHide">
                            <td colspan="4">
                                Academic Details :
                            </td>
                        </tr>
                        <tr class="showHide">
                            <th class="colA">Exam</th>
                            <th class="colB">Year</th>
                            <th class="colC">Result</th>
                            <th class="colD">Board / Univarsity</th>
                        </tr>
                        <tr *ngFor="let ed of member.educations" class="showHide">
                            <td class="colA">{{ed.Exam}}</td>
                            <td class="colB">{{ed.Year}}</td>
                            <td class="colC">{{ed.Result}}</td>
                            <td class="colD">{{ed.Board_Uni}}</td>
                        </tr>
                        <tr class="showHide">
                            <td colspan="4">
                                <br>Experience :
                            </td>
                        </tr>
                        <tr class="showHide">
                            <th class="colA">Title</th>
                            <th class="colB">Year</th>
                            <th class="colC">Description</th>
                            <th class="colD">Comment</th>
                        </tr>
                        <tr *ngFor="let ex of member.experiences" class="experience" class="showHide">
                            <td class="colA">{{ex.Title}}</td>
                            <td class="colB">{{ex.Year}}</td>
                            <td class="colC">{{ex.Description}}</td>
                            <td class="colD">{{ex.Comment}}</td>
                        </tr>
                        <tr class="showHide">
                            <td colspan="3" style="color:darkred"><br>Probable Retirement Date : </td>
                            <td style="color:darkred"><br>{{member.Retirement}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="container" *ngIf="(teacherHonours.length > 0)">
        <div class="row">
            <h3 class="heading3">Honours Teachers</h3>
            <div *ngFor="let member of teacherHonours | orderBy:'Order' | filter:searchKey:['Name', 'Designation', 'Dept', 'Father_Name', 'Mother_Name', 'Gender', 'Joining', 'Index', 'Mobile', 'TTIS', 'Email', 'Date_of_Birth', 'Present_Address', 'Permanent_Address', 'Exam', 'Year', 'Result', 'Board_Uni', 'Title', 'Description', 'Comment', 'Retirement']"
                class="col-12 col-xs-8 col-xs-7 col-sm-6 col-md-5 col-lg-4 col-xl-3 col-xxl-2">
                <div class="table-wrapper">
                    <table>
                        <tr>
                            <td colspan="4" class="img"><img [src]="member.Img || './assets/images/teacher.jpg'"
                                    class="profile-picture"></td>
                        </tr>
                        <tr>
                            <td colspan="4" class="heading"><b>{{member.Name}}</b></td>
                        </tr>
                        <tr>
                            <td colspan="4" class="heading">{{member.Designation}}</td>
                        </tr>
                        <tr>
                            <td colspan="4" class="heading">{{ getDept(member.Dept) }}</td>
                        </tr>
                        <tr>
                            <td class="viewButton" colspan="4"><button (click)="openModal($event)" class="details"
                                    id="details">Details</button></td>
                        </tr>
                        <tr class="showHide">
                            <td colspan="4" class="heading">............................................................
                            </td>
                        </tr>
                        <tr class="showHide">
                            <td>Fathers Name</td>
                            <td>:</td>
                            <td colspan="2">{{member.Father_Name}}</td>
                        </tr>
                        <tr class="showHide">
                            <td>Mothers Name</td>
                            <td>:</td>
                            <td colspan="2">{{member.Mother_Name}}</td>
                        </tr>
                        <tr class="showHide">
                            <td>Gender</td>
                            <td>:</td>
                            <td colspan="2">{{member.Gender}}</td>
                        </tr>
                        <tr class="showHide">
                            <td>Blood Group</td>
                            <td>:</td>
                            <td colspan="2">{{member.Blood_Group}}</td>
                        </tr>
                        <tr class="showHide">
                            <td>Joining Date</td>
                            <td>:</td>
                            <td colspan="2">{{member.Joining}}</td>
                        </tr>
                        <tr class="showHide">
                            <td>TMIS No.</td>
                            <td>:</td>
                            <td colspan="2">{{member.TMIS}}</td>
                        </tr>
                        <tr class="showHide">
                            <td>TTIS No.</td>
                            <td>:</td>
                            <td colspan="2">{{member.TTIS}}</td>
                        </tr>
                        <tr class="showHide">
                            <td>Mobile No.</td>
                            <td>:</td>
                            <td colspan="2">{{member.Mobile}}</td>
                        </tr>
                        <tr class="showHide">
                            <td>Email</td>
                            <td>:</td>
                            <td colspan="2">{{member.Email}}</td>
                        </tr>
                        <tr class="showHide">
                            <td>Date of Birth</td>
                            <td>:</td>
                            <td colspan="2">{{member.Date_of_Birth}}</td>
                        </tr>
                        <tr class="showHide">
                            <td>Present Address</td>
                            <td>:</td>
                            <td colspan="2">{{member.Present_Address}}</td>
                        </tr>
                        <tr class="showHide">
                            <td>Permanent Address</td>
                            <td>:</td>
                            <td colspan="2">{{member.Permanent_Address}}</td>
                        </tr>
                        <tr class="showHide">
                            <td colspan="4">
                                Academic Details :
                            </td>
                        </tr>
                        <tr class="showHide">
                            <th class="colA">Exam</th>
                            <th class="colB">Year</th>
                            <th class="colC">Result</th>
                            <th class="colD">Board / Univarsity</th>
                        </tr>
                        <tr *ngFor="let ed of member.educations" class="education" class="showHide">
                            <td class="colA">{{ed.Exam}}</td>
                            <td class="colB">{{ed.Year}}</td>
                            <td class="colC">{{ed.Result}}</td>
                            <td class="colD">{{ed.Board_Uni}}</td>
                        </tr>
                        <tr class="showHide" style="visibility:hidden">
                            <td colspan="4">
                                <br>Experience :
                            </td>
                        </tr>
                        <tr class="showHide">
                            <th class="colA">Title</th>
                            <th class="colB">Year</th>
                            <th class="colC">Description</th>
                            <th class="colD">Comment</th>
                        </tr>
                        <tr *ngFor="let ex of member.experiences" class="experience" class="showHide">
                            <td class="colA">{{ex.Title}}</td>
                            <td class="colB">{{ex.Year}}</td>
                            <td class="colC">{{ex.Description}}</td>
                            <td class="colD">{{ex.Comment}}</td>
                        </tr>
                        <tr class="showHide">
                            <td colspan="3" style="color:darkred"><br>Probable Retirement Date : </td>
                            <td style="color:darkred"><br>{{member.Retirement}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="container" *ngIf="(staffs.length > 0)">
        <div class="row">
            <h3 class="heading3">MPO Staffs</h3>
            <div *ngFor="let member of staffs | orderBy:'Order' | filter:searchKey:['Name', 'Designation', 'Dept', 'Father_Name', 'Mother_Name', 'Gender', 'Joining', 'Index', 'Mobile', 'TMIS', 'Email', 'Date_of_Birth', 'Present_Address', 'Permanent_Address', 'Exam', 'Year', 'Result', 'Board_Uni', 'Title', 'Description', 'Comment', 'Retirement']"
                class="col-12 col-xs-8 col-xs-7 col-sm-6 col-md-5 col-lg-4 col-xl-3 col-xxl-2">
                <div class="table-wrapper">
                    <table>
                        <tr>
                            <td colspan="4" class="img"><img [src]="member.Img || './assets/images/employee.jpg'" class="profile-picture">
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" class="heading"><b>{{member.Name}}</b></td>
                        </tr>
                        <tr>
                            <td colspan="4" class="heading">{{member.Designation}}</td>
                        </tr>
                        <tr>
                            <td colspan="4" class="heading">{{ getDept(member.Dept) }}</td>
                        </tr>
                        <tr>
                            <td class="viewButton" colspan="4"><button (click)="openModal($event)" class="details"
                                    id="details">Details</button></td>
                        </tr>
                        <tr class="showHide">
                            <td colspan="4" class="heading">............................................................
                            </td>
                        </tr>
                        <tr class="showHide">
                            <td>Fathers Name</td>
                            <td>:</td>
                            <td colspan="2">{{member.Father_Name}}</td>
                        </tr>
                        <tr class="showHide">
                            <td>Mothers Name</td>
                            <td>:</td>
                            <td colspan="2">{{member.Mother_Name}}</td>
                        </tr>
                        <tr class="showHide">
                            <td>Gender</td>
                            <td>:</td>
                            <td colspan="2">{{member.Gender}}</td>
                        </tr>
                        <tr class="showHide">
                            <td>Blood Group</td>
                            <td>:</td>
                            <td colspan="2">{{member.Blood_Group}}</td>
                        </tr>
                        <tr class="showHide">
                            <td>Joining Date</td>
                            <td>:</td>
                            <td colspan="2">{{member.Joining}}</td>
                        </tr>
                        <tr class="showHide">
                            <td>Index No.</td>
                            <td>:</td>
                            <td colspan="2">{{member.Index}}</td>
                        </tr>
                        <tr class="showHide">
                            <td>Mobile No.</td>
                            <td>:</td>
                            <td colspan="2">{{member.Mobile}}</td>
                        </tr>
                        <tr class="showHide">
                            <td>Email</td>
                            <td>:</td>
                            <td colspan="2">{{member.Email}}</td>
                        </tr>
                        <tr class="showHide">
                            <td>Date of Birth</td>
                            <td>:</td>
                            <td colspan="2">{{member.Date_of_Birth}}</td>
                        </tr>
                        <tr class="showHide">
                            <td>Present Address</td>
                            <td>:</td>
                            <td colspan="2">{{member.Present_Address}}</td>
                        </tr>
                        <tr class="showHide">
                            <td>Permanent Address</td>
                            <td>:</td>
                            <td colspan="2">{{member.Permanent_Address}}</td>
                        </tr>
                        <tr class="showHide">
                            <td colspan="4">
                                Academic Details :
                            </td>
                        </tr>
                        <tr class="showHide">
                            <th class="colA">Exam</th>
                            <th class="colB">Year</th>
                            <th class="colC">Result</th>
                            <th class="colD">Board / Univarsity</th>
                        </tr>
                        <tr *ngFor="let ed of member.educations" class="education" class="showHide">
                            <td class="colA">{{ed.Exam}}</td>
                            <td class="colB">{{ed.Year}}</td>
                            <td class="colC">{{ed.Result}}</td>
                            <td class="colD">{{ed.Board_Uni}}</td>
                        </tr>
                        <tr class="showHide">
                            <td colspan="4">
                                <br>Experience :
                            </td>
                        </tr>
                        <tr class="showHide">
                            <th class="colA">Title</th>
                            <th class="colB">Year</th>
                            <th class="colC">Description</th>
                            <th class="colD">Comment</th>
                        </tr>
                        <tr *ngFor="let ex of member.experiences" class="experience" class="showHide">
                            <td class="colA">{{ex.Title}}</td>
                            <td class="colB">{{ex.Year}}</td>
                            <td class="colC">{{ex.Description}}</td>
                            <td class="colD">{{ex.Comment}}</td>
                        </tr>
                        <tr class="showHide">
                            <td colspan="3" style="color:darkred"><br>Probable Retirement Date : </td>
                            <td style="color:darkred"><br>{{member.Retirement}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="container" *ngIf="(nonMpoStaffs.length > 0)">
        <div class="row">
            <h3 class="heading3">Non-MPO Staffs</h3>
            <div *ngFor="let member of nonMpoStaffs | orderBy:'Order' | filter:searchKey:['Name', 'Designation', 'Dept', 'Father_Name', 'Mother_Name', 'Gender', 'Joining', 'Index', 'Mobile', 'Email', 'Date_of_Birth', 'Present_Address', 'Permanent_Address', 'Exam', 'Year', 'Result', 'Board_Uni', 'Title', 'Description', 'Comment', 'Retirement']"
                class="col-12 col-xs-8 col-xs-7 col-sm-6 col-md-5 col-lg-4 col-xl-3 col-xxl-2">
                <div class="table-wrapper">
                    <table>
                        <tr>
                            <td colspan="4" class="img"><img [src]="member.Img || './assets/images/employee.jpg'" class="profile-picture">
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" class="heading"><b>{{member.Name}}</b></td>
                        </tr>
                        <tr>
                            <td colspan="4" class="heading">{{member.Designation}}</td>
                        </tr>
                        <tr>
                            <td colspan="4" class="heading">{{ getDept(member.Dept) }}</td>
                        </tr>
                        <tr>
                            <td class="viewButton" colspan="4"><button (click)="openModal($event)" class="details"
                                    id="details">Details</button></td>
                        </tr>
                        <tr class="showHide">
                            <td colspan="4" class="heading">............................................................
                            </td>
                        </tr>
                        <tr class="showHide">
                            <td>Fathers Name</td>
                            <td>:</td>
                            <td colspan="2">{{member.Father_Name}}</td>
                        </tr>
                        <tr class="showHide">
                            <td>Mothers Name</td>
                            <td>:</td>
                            <td colspan="2">{{member.Mother_Name}}</td>
                        </tr>
                        <tr class="showHide">
                            <td>Gender</td>
                            <td>:</td>
                            <td colspan="2">{{member.Gender}}</td>
                        </tr>
                        <tr class="showHide">
                            <td>Blood Group</td>
                            <td>:</td>
                            <td colspan="2">{{member.Blood_Group}}</td>
                        </tr>
                        <tr class="showHide">
                            <td>Joining Date</td>
                            <td>:</td>
                            <td colspan="2">{{member.Joining}}</td>
                        </tr>
                        <tr class="showHide">
                            <td>Mobile No.</td>
                            <td>:</td>
                            <td colspan="2">{{member.Mobile}}</td>
                        </tr>
                        <tr class="showHide">
                            <td>Email</td>
                            <td>:</td>
                            <td colspan="2">{{member.Email}}</td>
                        </tr>
                        <tr class="showHide">
                            <td>Date of Birth</td>
                            <td>:</td>
                            <td colspan="2">{{member.Date_of_Birth}}</td>
                        </tr>
                        <tr class="showHide">
                            <td>Present Address</td>
                            <td>:</td>
                            <td colspan="2">{{member.Present_Address}}</td>
                        </tr>
                        <tr class="showHide">
                            <td>Permanent Address</td>
                            <td>:</td>
                            <td colspan="2">{{member.Permanent_Address}}</td>
                        </tr>
                        <tr class="showHide">
                            <td colspan="4">
                                Academic Details :
                            </td>
                        </tr>
                        <tr class="showHide">
                            <th class="colA">Exam</th>
                            <th class="colB">Year</th>
                            <th class="colC">Result</th>
                            <th class="colD">Board / Univarsity</th>
                        </tr>
                        <tr *ngFor="let ed of member.educations" class="education" class="showHide">
                            <td class="colA">{{ed.Exam}}</td>
                            <td class="colB">{{ed.Year}}</td>
                            <td class="colC">{{ed.Result}}</td>
                            <td class="colD">{{ed.Board_Uni}}</td>
                        </tr>
                        <tr class="showHide">
                            <td colspan="4">
                                <br>Experience :
                            </td>
                        </tr>
                        <tr class="showHide">
                            <th class="colA">Title</th>
                            <th class="colB">Year</th>
                            <th class="colC">Description</th>
                            <th class="colD">Comment</th>
                        </tr>
                        <tr *ngFor="let ex of member.experiences" class="experience" class="showHide">
                            <td class="colA">{{ex.Title}}</td>
                            <td class="colB">{{ex.Year}}</td>
                            <td class="colC">{{ex.Description}}</td>
                            <td class="colD">{{ex.Comment}}</td>
                        </tr>
                        <tr class="showHide">
                            <td colspan="3" style="color:darkred"><br>Probable Retirement Date : </td>
                            <td style="color:darkred"><br>{{member.Retirement}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="container" *ngIf="(exTeachers.length > 0)">
        <div class="row">
            <h3 class="heading3">Ex Teachers</h3>
            <div *ngFor="let member of exTeachers | orderBy:'Order' | filter:searchKey:['Name', 'Designation', 'Dept', 'Father_Name', 'Mother_Name', 'Gender', 'Joining', 'Index', 'Mobile', 'TMIS', 'TTIS', 'Email', 'Date_of_Birth', 'Present_Address', 'Permanent_Address', 'Exam', 'Year', 'Result', 'Board_Uni', 'Title', 'Description', 'Comment', 'Retirement']"
                class="col-12 col-xs-8 col-xs-7 col-sm-6 col-md-5 col-lg-4 col-xl-3 col-xxl-2">
                <div class="table-wrapper">
                    <table>
                        <tr>
                            <td colspan="4" class="img"><img src="./assets/images/teacher.jpg" class="profile-picture">
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" class="heading"><b>{{member.Name}}</b></td>
                        </tr>
                        <tr>
                            <td colspan="4" class="heading">{{member.Designation}}</td>
                        </tr>
                        <tr>
                            <td colspan="4" class="heading">{{ getDept(member.Dept) }}</td>
                        </tr>
                        <tr>
                            <td class="viewButton" colspan="4"><button (click)="openModal($event)" class="details"
                                    id="details">Details</button></td>
                        </tr>
                        <tr class="showHide">
                            <td colspan="4" class="heading">............................................................
                            </td>
                        </tr>
                        <tr class="showHide">
                            <td>Fathers Name</td>
                            <td>:</td>
                            <td colspan="2">{{member.Father_Name}}</td>
                        </tr>
                        <tr class="showHide">
                            <td>Mothers Name</td>
                            <td>:</td>
                            <td colspan="2">{{member.Mother_Name}}</td>
                        </tr>
                        <tr class="showHide">
                            <td>Gender</td>
                            <td>:</td>
                            <td colspan="2">{{member.Gender}}</td>
                        </tr>
                        <tr class="showHide">
                            <td>Blood Group</td>
                            <td>:</td>
                            <td colspan="2">{{member.Blood_Group}}</td>
                        </tr>
                        <tr class="showHide">
                            <td>Joining Date</td>
                            <td>:</td>
                            <td colspan="2">{{member.Joining}}</td>
                        </tr>
                        <tr class="showHide">
                            <td>Index No.</td>
                            <td>:</td>
                            <td colspan="2">{{member.Index}}</td>
                        </tr>
                        <tr class="showHide">
                            <td>TMIS No.</td>
                            <td>:</td>
                            <td colspan="2">{{member.TMIS}}</td>
                        </tr>
                        <tr class="showHide">
                            <td>TTIS No.</td>
                            <td>:</td>
                            <td colspan="2">{{member.TTIS}}</td>
                        </tr>
                        <tr class="showHide">
                            <td>Mobile No.</td>
                            <td>:</td>
                            <td colspan="2">{{member.Mobile}}</td>
                        </tr>
                        <tr class="showHide">
                            <td>Email</td>
                            <td>:</td>
                            <td colspan="2">{{member.Email}}</td>
                        </tr>
                        <tr class="showHide">
                            <td>Date of Birth</td>
                            <td>:</td>
                            <td colspan="2">{{member.Date_of_Birth}}</td>
                        </tr>
                        <tr class="showHide">
                            <td>Present Address</td>
                            <td>:</td>
                            <td colspan="2">{{member.Present_Address}}</td>
                        </tr>
                        <tr class="showHide">
                            <td>Permanent Address</td>
                            <td>:</td>
                            <td colspan="2">{{member.Permanent_Address}}</td>
                        </tr>
                        <tr class="showHide">
                            <td colspan="4">
                                Academic Details :
                            </td>
                        </tr>
                        <tr class="showHide">
                            <th class="colA">Exam</th>
                            <th class="colB">Year</th>
                            <th class="colC">Result</th>
                            <th class="colD">Board / Univarsity</th>
                        </tr>
                        <tr *ngFor="let ed of member.educations" class="education" class="showHide">
                            <td class="colA">{{ed.Exam}}</td>
                            <td class="colB">{{ed.Year}}</td>
                            <td class="colC">{{ed.Result}}</td>
                            <td class="colD">{{ed.Board_Uni}}</td>
                        </tr>
                        <tr class="showHide">
                            <td colspan="4">
                                <br>Experience :
                            </td>
                        </tr>
                        <tr class="showHide">
                            <th class="colA">Title</th>
                            <th class="colB">Year</th>
                            <th class="colC">Description</th>
                            <th class="colD">Comment</th>
                        </tr>
                        <tr *ngFor="let ex of member.experiences" class="experience" class="showHide">
                            <td class="colA">{{ex.Title}}</td>
                            <td class="colB">{{ex.Year}}</td>
                            <td class="colC">{{ex.Description}}</td>
                            <td class="colD">{{ex.Comment}}</td>
                        </tr>
                        <tr class="showHide">
                            <td colspan="3" style="color:darkred"><br>Probable Retirement Date : </td>
                            <td style="color:darkred"><br>{{member.Retirement}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="container" *ngIf="(exStaffs.length > 0)">
        <div class="row">
            <h3 class="heading3">Ex Staffs</h3>
            <div *ngFor="let member of exStaffs | orderBy:'Order' | filter:searchKey:['Name', 'Designation', 'Dept', 'Father_Name', 'Mother_Name', 'Gender', 'Joining', 'Index', 'Mobile', 'TMIS', 'Email', 'Date_of_Birth', 'Present_Address', 'Permanent_Address', 'Exam', 'Year', 'Result', 'Board_Uni', 'Title', 'Description', 'Comment', 'Retirement']"
                class="col-12 col-xs-8 col-xs-7 col-sm-6 col-md-5 col-lg-4 col-xl-3 col-xxl-2">
                <div class="table-wrapper">
                    <table>
                        <tr>
                            <td colspan="4" class="img"><img [src]="member.Img || './assets/images/employee.jpg'" class="profile-picture">
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" class="heading"><b>{{member.Name}}</b></td>
                        </tr>
                        <tr>
                            <td colspan="4" class="heading">{{member.Designation}}</td>
                        </tr>
                        <tr>
                            <td colspan="4" class="heading">{{ getDept(member.Dept) }}</td>
                        </tr>
                        <tr>
                            <td class="viewButton" colspan="4"><button (click)="openModal($event)" class="details"
                                    id="details">Details</button></td>
                        </tr>
                        <tr class="showHide">
                            <td colspan="4" class="heading">............................................................
                            </td>
                        </tr>
                        <tr class="showHide">
                            <td>Fathers Name</td>
                            <td>:</td>
                            <td colspan="2">{{member.Father_Name}}</td>
                        </tr>
                        <tr class="showHide">
                            <td>Mothers Name</td>
                            <td>:</td>
                            <td colspan="2">{{member.Mother_Name}}</td>
                        </tr>
                        <tr class="showHide">
                            <td>Gender</td>
                            <td>:</td>
                            <td colspan="2">{{member.Gender}}</td>
                        </tr>
                        <tr class="showHide">
                            <td>Blood Group</td>
                            <td>:</td>
                            <td colspan="2">{{member.Blood_Group}}</td>
                        </tr>
                        <tr class="showHide">
                            <td>Joining Date</td>
                            <td>:</td>
                            <td colspan="2">{{member.Joining}}</td>
                        </tr>
                        <tr class="showHide">
                            <td>Mobile No.</td>
                            <td>:</td>
                            <td colspan="2">{{member.Mobile}}</td>
                        </tr>
                        <tr class="showHide">
                            <td>Email</td>
                            <td>:</td>
                            <td colspan="2">{{member.Email}}</td>
                        </tr>
                        <tr class="showHide">
                            <td>Date of Birth</td>
                            <td>:</td>
                            <td colspan="2">{{member.Date_of_Birth}}</td>
                        </tr>
                        <tr class="showHide">
                            <td>Present Address</td>
                            <td>:</td>
                            <td colspan="2">{{member.Present_Address}}</td>
                        </tr>
                        <tr class="showHide">
                            <td>Permanent Address</td>
                            <td>:</td>
                            <td colspan="2">{{member.Permanent_Address}}</td>
                        </tr>
                        <tr class="showHide">
                            <td colspan="4">
                                Academic Details :
                            </td>
                        </tr>
                        <tr class="showHide">
                            <th class="colA">Exam</th>
                            <th class="colB">Year</th>
                            <th class="colC">Result</th>
                            <th class="colD">Board / Univarsity</th>
                        </tr>
                        <tr *ngFor="let ed of member.educations" class="education" class="showHide">
                            <td class="colA">{{ed.Exam}}</td>
                            <td class="colB">{{ed.Year}}</td>
                            <td class="colC">{{ed.Result}}</td>
                            <td class="colD">{{ed.Board_Uni}}</td>
                        </tr>
                        <tr class="showHide">
                            <td colspan="4">
                                <br>Experience :
                            </td>
                        </tr>
                        <tr class="showHide">
                            <th class="colA">Title</th>
                            <th class="colB">Year</th>
                            <th class="colC">Description</th>
                            <th class="colD">Comment</th>
                        </tr>
                        <tr *ngFor="let ex of member.experiences" class="experience" class="showHide">
                            <td class="colA">{{ex.Title}}</td>
                            <td class="colB">{{ex.Year}}</td>
                            <td class="colC">{{ex.Description}}</td>
                            <td class="colD">{{ex.Comment}}</td>
                        </tr>
                        <tr class="showHide">
                            <td colspan="3" style="color:darkred"><br>Probable Retirement Date : </td>
                            <td style="color:darkred"><br>{{member.Retirement}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="isProfileModalOpen" class="modal-backdrop" (click)="closeModal()">
        <div class="modal-container">
            <div class="modal-content" (click)="$event.stopPropagation()">
                <div class="modal-body" [innerHTML]="fullProfileText"></div>
                <button class="close-button" (click)="closeModal()">&#10006;</button>
            </div>
        </div>
    </div>
</div>