<div class="greeting-container">
  <h3 class="greeting">Hi {{ fullName2() }}, You have Total {{ getTotalOrderCount() }} Orders</h3>
</div>
<div id="allOrder">
  <div *ngFor="let order of orders; let i = index" class="order-container" [id]="'order-' + i">

    <table>
      <thead>
        <tr>
          <h4>Order {{ i + 1 }}</h4>
        </tr>
        <tr>
          <th class="leftAlign">UserInfo</th>
          <th class="leftAlign" style="width: 40%;">Address</th>
          <th class="leftAlign">Payment Info</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="leftAlign">{{ order.fullName }}<br>
            {{ order.username }}<br>
            {{ order.altMobileNo }}<br>
          <td class="leftAlign">{{ order.division }} - {{ order.district }} - {{ order.thana }}<br>
            {{ order.union }}<br>
            {{ order.village }}</td>
          <td class="leftAlign">
            <span *ngFor="let transaction of order.transaction">
              {{ order.paymentMethod }}: {{ transaction.paidFrom }} - {{ transaction.trxid }} </span>
            <span *ngFor="let od of order.orderDetails; let i = index">
              <ng-container *ngIf="i === 0"><br>
                Total: {{ calculateSubTotal(order) }}tk + {{ od.ShipingCost }}tk<sub>(Shipping)</sub> <br> Discount: {{
                calculateDiscount(order) }}tk <br>
                Paid: {{ od.Paid }}tk &nbsp; Due: {{ calculateDue(order) }}tk </ng-container> </span> <br>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Display Order Details -->
    <table>
      <thead>
        <tr>
          <h5>Order Details</h5>
        </tr>
        <tr>
          <th class="leftAlign">Name</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Sub-Total</th>
          <th>Discount</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let orderDetail of order.orderDetails">
          <td class="leftAlign">{{ orderDetail.Name }}</td>
          <td>{{ orderDetail.Price }}</td>
          <td>{{ orderDetail.Quantity }}</td>
          <td>{{ parseAndSum(orderDetail.Total, orderDetail.Discount) }}</td>
          <td>{{ orderDetail.Discount }}</td>
          <td>{{ orderDetail.Total }}</td>
        </tr>
      </tbody>
    </table>
    <div [attr.id]="'btn' + i" class="downloadButtonDiv">
      <button class="downloadButton btn btn-primary" (click)="downloadAsPDF(i)">Download Order {{ i + 1 }}</button>
    </div>
    <div class="gap"></div>
  </div>
</div>
<button id="btnSM" (click)="showMoreOrders()" *ngIf="showMoreButton" class="show-more-button">Show More</button>
<div id="btnAll" class="downloadAllButtonDiv">
  <button class="downloadAllButton btn btn-primary" (click)="downloadAllAsPDF()">Download All Order</button>
</div>

<div class="gap" style="height: 100px; background-color: white;"></div>