
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
.merged-cell {
    background-color: #f2f2f2;
}

.order-container {
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 10px;
  }
  
  /* Style the order number */
  .order-container h4 {
    background-color: teal; /* Adjust the background color as needed */
    color: #fff;
    padding: 5px;
    margin-top: 0;
    text-align: center;
  }
  
  /* Style the tables within the order container */
  .order-container table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px auto 0 auto;
    max-width: 1000px;
  }
  
  /* Style table headers */
  .order-container th {
    background-color: #f2f2f2;
    text-align: left;
    padding: 8px;
  }
  
  /* Style table cells */
  .order-container td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  /* Style table rows */
  .order-container tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .order-container tr:hover {
    background-color: #ddd;
  }

  /* Add these styles to your component's CSS file or globally in your project's CSS */

/* Style the "Show More" button */
.show-more-button {
    background-color: teal; /* Background color */
    color: #fff; /* Text color */
    padding: 5px; /* Padding */
    margin-top: 10px; /* Top margin */
    width: 200px; /* Width */
    display: block; /* Make it a block element */
    margin: 0 auto; /* Center-align the button */
    border: none; /* Remove default button styling */
    cursor: pointer; /* Show pointer cursor on hover */
  }
  
  .show-more-button:hover {
    background-color: teal; /* Hover background color (you can adjust this) */
  }
  
  .greeting-container {
    background-color: rgb(105, 185, 185);
    color: #fff; /* Text color */
    padding: 10px; /* Padding */
    text-align: center; /* Center-align text */
    margin-top: 65px;
  }
  .downloadButton{
    padding: 5px 10px 5px 10px;
    display: block;
    margin: 10px 0 0 auto;
    background-color: teal;
  }
  .gap{
    height: 21px;
    background-color: rgb(105, 185, 185);
    width: 100vw;
    padding: 0;
    margin: 40px 0px -31px -18px;
  }
  .downloadButtonDiv{
    max-width: 1000px;
    margin: 0 auto;
  }
  td, th{
    text-align: center !important;
  }
.leftAlign{
  text-align: left !important;
}
.downloadAllButton{
  padding: 7px 15px !important;
    margin: 50px auto 0 auto;
    font-size: 18px;
    border-radius: 7px;
}
.downloadAllButtonDiv{
  margin: 0 auto !important;
  text-align: center !important;
}
table, tr, td, thead, h2, h3, h4, h5, img, div{
  user-select: none;
  pointer-events: none;
}