<!-- <div  style="margin-top: 120px;">...</div> -->

<script>
  $(document).ready(function () {
    $('.carousel-inner').on('slid.bs.carousel', function () {
      var activeSlide = $(this).find('.carousel-item.active');
      var imageHeight = activeSlide.find('img').height();
      activeSlide.find('video').height(imageHeight);
    });
  });
</script>


<div style="margin-top: 115px; margin-bottom: 80px;">
  <h1 class="title" style="text-align: center;"><b><img src="./assets/images/logo.jpg" class="titleImg"> কাদের বকস্
      মেমোরিয়াল কলেজ, দিনাজপুর।</b></h1>
  <div class="container">
    <div class="row">
      <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xxl-12">
        <div class="custom-column bg-info" id="imageSlider">
          <div id="slider-container">
            <div id="slider">
              <div class="image-slider" #imageSlideContainer>
                <a class="carousel-control-prev" role="button" (click)="prevImage()">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>

                <div class="carousel-inner">
                  <img [src]="'./assets/images/' + images[currentIndex]" class="d-block w-100" alt="Current Image">
                </div>

                <a class="carousel-control-next" role="button" (click)="nextImage()">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>

            <div id="thumbnails">
              <ng-container *ngFor="let image of images; let i = index">
                <img class="thumbnail" [src]="'./assets/images/' + image" alt="Thumbnail {{ i + 1 }}"
                  [ngClass]="{ 'current-thumbnail': i === currentIndex, 'center-thumbnail': i === currentIndex }"
                  (click)="currentSlide(i)">
              </ng-container>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xxl-6">

        <h1 style="text-align: center;" class="profile-title profile-title4"><b>প্রতিষ্ঠান সর্ম্পকিত</b></h1>
        <div class="profile">
          <div class="profile-text">
            <p>"দেশের উত্তরাঞ্চলের সর্ববৃহৎ ও ঐতিহ্যবাহী বেসরকারী কলেজ দিনাজপুর শহরের দক্ষীন উপকন্ঠে ঐতিহাসিক রামসাগর
              দীঘির যাত্রাপথের ধারে ১৫ একরে বিস্তৃত এক মনরম পরিবেশে অবস্থিত। কোতয়ালী থানার ৬ নং আউলিয়া পুর ইউনিয়নের
              মামুদপুর মৌজায় কলেজের অধিক অংশের অবস্থান। দিনাজপুরের ঐতিহ্যবাহী বেদনা লিচুর উৎপাদন স্থল মাশিমপুর গ্রামের
              অবস্থান কলেজের পাশঘেষে। দিনাজপুর জেলার প্রথম মোসলমান আইনজীবী ও পাকিস্থান আন্দোলনের এই অঞ্চলের পুরোধা মরহুম
              কাদেরবক্স-এর নামে ১৯৬৮ সালে বর্তমান স্থলে কলেজটি চালু হয়।<br><br>
              দিনাজপুরের ঐতিহ্যবাহী এস এন কলেজ সুইহারীতে স্থানান্তরিত হয়ে দিনাজপুর কলেজ এবং পরবর্তীতে কলেজটি সরকারী হয়ে
              সীমিত আসন সংখ্যা হওয়ার প্রেক্ষিতে বর্তমান স্থানে কে,বি,এম কলেজ স্থাপনের রূপকার তৎকালীন চেরাডাঙ্গী কলেজের
              অধ্যক্ষ ও জেলার বিশিষ্ঠ শিক্ষাবিদ জনাব মাহমুদ মোকাররম হোসেন চেরাডাঙ্গী কলেজটি শহরের দিকে স্থানান্তরিত করে
              বর্তমান স্থানে প্রতিষ্ঠার নেতৃত্ব প্রদান করেন। তাঁকে বলিষ্ঠ সমর্থন দিয়েছিলেন তৎকালীন জেলা প্রশাসক জনাব যাকারিয়া যিনি কলেজের জন্য ১৫ একর জমি অধীগ্রহণ করে দেন এবং সহযোগিতা দিয়েছিলেন তৎকালীন চেরাডাঙ্গী কলেজের
              পরিচালনা পর্ষদের সদস্যবৃন্দ মরহুম ফজলে হক, মরহুম আলহাজ্ব লতিফর রহমান, মরহুম পশরউদ্দীন আহমদ, মরহুম আলহাজ্ব
              তিনকোড় মোহাম্মদ, মরহুম শাহ আজিজার রহমান, মরহুম আব্বাস উদ্দীন আহমদ, জনাব মঈনুদ্দীন আহমদ চৌধুরী, আলহাজ্ব
              সফিঊদ্দীন আহমদ, জনাব মাকসুদ আলী, জনাব মোঃ আব্দুস সালাম প্রমুখ সহ বিশিষ্ট শিল্পপতি মরহুম আজিজুল হক চৌধুরী
              এবং জনাব খায়রুল আনম।
              চেরাডাঙ্গীতে একটি কলেজ স্থাপনের জন্য সেইদিন ঐ এলাকার সামাজিক নেতৃবৃন্দ থেকে শুরু করে সাধারণ মানুষ পর্যন্ত
              অধ্যক্ষ মাহমুদ মোকাররম হোসেনের আহবানে সাড়া দিয়ে যেভাবে এগিয়ে এসেছেন, বলিষ্ট ভুমিকা রেখেছেন জেলার তথা দেশের
              উত্তরাঞ্চলের শিক্ষা সম্প্রসারণের ইতিহাসে তা এক গৌরবোজ্জ্বল অধ্যায় হয়ে ভাস্বর হয়ে থাকবে। এই উপলক্ষে ৬ জুন,
              ১৯৬৫ সালে চেরাডাঙ্গী হাই স্কুলের সেক্রেটারী এবং চেরাডাঙ্গী মেলে কমিটির সেক্রেটারী জনাব মোকাররম হোসেনের
              আহবানে এলাকার সর্বশ্রেণীর নেতৃবৃন্দের এক সভায় চেরাডাঙ্গী কলেজ প্রতিষ্টার সিদ্ধান্ত গ্রহণ করা হয়।<br><br>
              যেহেতু চেরাডাঙ্গী কলেজের ছাত্র-ছাত্রী-শিক্ষক থেকে শুরু করে চেয়ার-টেবিল-বেঞ্চ এবং টাকা-পয়সা সহ শুরু হয়েছিল
              কে, বি, এম কলেজের যাত্রা তাই চেরাডাঙ্গী কলেজের স্থাপনা বর্স ১৯৬৫-৬৬ শিক্ষা বর্সকেই কে, বি, এম কলেজের
              প্রতিষ্টা বৎসর ধরা হয়। তখন চেরাডাঙ্গী কলেজের অধ্যক্ষ ও বাংলার অধ্যাপক হিসাবে কাজ করেছিলেন জনাব মোকাররম
              হোসেন, ইংরেজীর অধ্যাপক হিসাবে জনাব মরহুম রমজান আলী, ইসলামের ইতিহাসের অধ্যাপক হিসাবে জনাব মতাহার হোসেন,
              রাষ্ট্রবিজ্ঞানের অধ্যাপক হিসাবে জনাব মজনুর রাহমান এবং অর্থনীতির অধ্যাপক হিসাবে জনাব মোঃ সাইফুদ্দীন।
              ১৯৬৮-৬৯ শিক্ষাবর্স থেকে বর্তমান স্থানে স্থানান্তরিত হওয়ার সময় থেকে কলেজে আর্টস ও কমার্স বিষয়ে স্নাতক এবং
              উচ্চমধ্যমিক ক্লাস শুরু করে কলেজটি ১৯৭৪ সাল থেকে পূর্ণাঙ্গ ডিগ্রী কলেজ হিসাবে আত্মপ্রকাশ করে। কে, বি, এম কলেজের প্রথম
              পরিচালনা পর্ষদের সভাপতি ছিলেন তৎকালীন জেলা প্রশাসক জনাব আ কা ম যাকারিয়া, সম্পাদক জনাব খায়রুল আনম এবং
              কোষাধ্যক্ষ মরহুম আজিজুল হক চৌধুরী ।<br><br>
              কলেজের লাল টিনসেড এবং লাল বিল্ডিং অংশ ১৯৬৮ সালে তড়িঘড়ি করে নির্মাণ করে সেখানেই শুরু হয় কে, বি, এম কলেজের
              কর্মকান্ড। লাল বিল্ডিং অংশের তিনটি কক্ষ বর্তমান শিক্ষক বিরামাগার, ছাত্রী বিরামাগার এবং অফিস কক্ষ সেই সময়
              পদার্থ, রসায়ন এবং জীববিজ্ঞানের ল্যাবরেটরী হিসাবে ব্যবহৃত হয় । বর্তমান নামাজ ও ছাত্র সংসদ কক্ষ দুইটি ছিল
              একটি কক্ষ যার দক্ষিণ অংশে একটি হাফ পার্টিশন কক্ষে বসতেন অধ্যক্ষ সাহেব, আর বড় অংশে শিক্ষকবৃন্দ ।<br><br>
              বর্তমান বিজ্ঞান ভবন নির্মাণের কাজ শুরু হয় ১৯৬৯-৭০ সালে, সরকারী উন্নয়ন স্কীমের অর্থে ডিপি আই-এর মাধ্যমে।
              সবাধীনতার পর ১৯৭২ সালে আরডি আর এস এবং রাজশাহী বিভাগ উন্নয়ন বোর্ডের অর্থানুকুলে বিজ্ঞান ভবনের গ্রাউন্ড
              ফ্লোরের নির্মাণ কাজ সম্পন্ন হয়। পদার্থ, রসায়ন এবং উদ্ভীদ বিজ্ঞানাগারের স্থান সংকুলান হয় সেখানে। অধ্যক্ষ
              কক্ষ, অফিস, শিক্ষক বিরামাগার স্থানান্তর হয় বর্তমান স্থানে, শিক্ষক বিরামাগার কক্ষ সংলগ্ন ছোট কক্ষটিতে
              স্থাপিত হয় কলেজ লাইব্রেরী। পরবর্তীকালে দ্বিতীয় ও তৃতীয় তলার পশ্চীমাংশ নির্মান করে পদার্থ বিজ্ঞান বিভাগকে
              স্থানান্তর করা হয় সেইসাথে বিশাল কলেজ লাইব্রেরী, প্রানীবিজ্ঞান বিভাগ এবং গণিত বিভাগ স্থাপন করা হয়। ২০১০ সালে বিজ্ঞান
              ভবনের তৃতীয় তলার বাঁকি অংশের কাজ সম্পন্ন করে কৃষি ডিপ্লমা কোর্স স্থাপন করা হয় । বর্তমানে ভবনটির চতুর্থ
              তলার কাজ এবং দক্ষিন দিকে বিশাল বারান্দার কাজ প্রায় শেষ। আশা করছি কয়েকটি অনার্স বিভাগকে এখানে স্থাপন করা সম্ভব
              হবে।<br><br>
              কলেজের ছাত্রাবাসটি নির্মিত হয় ১৯৭৭ সালে । ছাত্র সংসদের অব্যাহত দাবী এবং প্রাথমিকভাবে ছাত্র-সংসদের অব্যবহৃত
              অর্থে ১৯৮৮ সালে নির্মিত হয় কলেজের মিলনায়তন যার নীল নকশা অনুযায়ী মঞ্চ, ছাত্র সংসদ অফিস ও পোর্টিকোট নির্মাণ
              এখনো অসমাপ্ত রয়ে গেছে । এই নির্মানে বাইরের কোন অর্থ সাহায্য ছিল না । তেমনি ১৯৮৯ সালে বিজ্ঞান ভবনের সিড়ির
              পশ্চিমাংশের দোতালা অংশ নির্মান করা হয় ১০০ ভাগ কলেজ তহবিল দিয়ে । শিক্ষা ফ্যসিলিটিজ বিভাগের দ্বারা নির্মিত
              হয় ভবনের সিড়ির পূর্ব অংশের দোতালা এবং পশ্চিম অংশের তিন তলা ১৯৯৩ সালে । সরকারী সহায়তা না পাওয়ায় সম্পূর্ণ
              স্বর্থায়নে বিজ্ঞান ভবনের বাকী অংশ, বিজ্ঞান বভবনের স্যানিটারী ও বৈদ্যুতীকরণের যাবতীয় কাজ সম্পন্ন করা হয় ।
              ১৯৯৩-৯৪ অর্থ বছরে সম্পূর্ণ স্বর্থায়নে কলেজের সীমানা প্রাচীর নির্মাণ কাজ সম্পন্নের মধ্যদিয়ে কেবিএম কলেজ
              বর্তমানে এই সুন্দর নৈসর্গিক দৃশ্য লাভ করে । কেবিএম কলেজে কর্মরত অবস্থায় মৃত্যু বরণ করেছেন ইংরেজী বিভাগের
              অধ্যপক রমজান আলী ১৯৭৮ সালে, বানিজ্য বিভাগের অধ্যাপক ওসমান গনী ১৯৯৪ সালে, ক্যাশিয়ার জনাব ছাদেক আলী ১৯৯৫
              সালে, পিওন মজিবর রাহমান ১৯৮৯ সালে, রমজান আলী ১৯৮৭ সালে এবং ইসমাইল হসেন ১৯৯১ সালে ।<br><br>
              ১৯৬৫ থেকে ২০১৭ এই দীর্ঘ ৫৩ বছর চেরাডাঙ্গী কলেজ থেকে শুরু করে বর্তমানের কেবিএম কলেজ – এই দীর্ঘ উত্তরনের
              ইতিহাস কেবিএম কলেজের পর্যায়ক্রমিক অগ্রগতির ইতিহাস । অধ্যক্ষ মাহমুদ মোকাররম হসেনের যোগ্য নেতৃত্ব এবং শিক্ষক
              বৃন্দের অবিরাম প্রচেষ্টা, স্থানীয় এবং শহরের গণ্যমান্য ব্যাক্তিবর্গের সুকামনা এবং প্রবাহমান ছাত্র-ছাত্রীদের
              সহযোগীতায় কেবিএম কলেজ আজ দেশের একটি সুপরিচিত বৃহৎ বেসরকারী ডিগ্রী কলেজ । ১৯৯৪-৯৫ শিক্ষাবর্ষ থেকে কলেজে
              উচ্চমাধ্যমিক মানবিক শ্রেণীতে বাংলা, ইংরেজী, ইসলামের ইতিহাস, অর্থনিতী, পৌরনিতী, কৃষি বিজ্ঞান ও সমাজ বিজ্ঞান
              বিষয়, বানিজ্য শ্রেণীতে সকল বিষয় এবং বিজ্ঞান শ্রেণীতে পদার্থ, রসায়ন, জীব বিজ্ঞান, গনিত, আইসিটি এবং কৃষি
              শিক্ষা বিষয়ে পাঠ গ্রহনের সুযোগ সৃষ্টি হয়েছে । স্নাতক বি বি এস এবং বি এস এস স্রেণী সমুহে বাংলা, ইংরেজী,
              ইসলামের ইতিহাস, অর্থনিতী, রাষ্ট্র বিজ্ঞান ও সমাজ বিজ্ঞান বিষয়, বানিজ্য শ্রেণীতে সকল বিষয় এবং বিজ্ঞান
              শ্রেণীতে পদার্থ, রসায়ন, জীব বিজ্ঞান এবং গনিত বিষয়ে পাঠ গ্রহনের সুবিধা আছে । কলেজে বাংলা, ইংরেজী, ইসলামের
              ইতিহাস, অর্থনিতী, রাষ্ট্র বিজ্ঞান, সমাজ বিজ্ঞান বিষয়, উদ্ভীদ বিদ্যা, প্রাণী বিদ্যা, ব্যবস্থাপনা, হিসাব
              বিজ্ঞান এবং বি বি এ সহ মোট ১১টি বিষয়ে অনার্স কোর্স চালু আছে । আগামীতে পদার্থ, রসায়ন ও গনিত বিষয়ে অনার্স
              কোর্স নিয়ে আসার উদ্যোগ নেয়া হয়েছে ।<br><br>
              ছাত্র বেতন ছাড়াও কলেজের বাগানের ফল ফলাদি এবং পুকুরের মৎস্য চাষ করে কলেজের আর্থিক প্রাপ্তি ঘটে ।
              ১৯৭১ সালের মহান মুক্তিযুদ্ধ বাঙ্গালী জাতীর এক গৌরবময় অধ্যায় । এই মুক্তিযুদ্ধের সহিত কেবিএম কলেজের একটি
              বিশেষ সম্পর্ক রয়েছে । ১৯৭১ সালে মুক্তিযুদ্ধ চলাকালীন কেবিএম কলেজে মুক্তিযোদ্ধাদের ক্যাম্প ছিল যেখান থেকে
              পরিকল্পনা করে মুক্তিযোদ্ধারা হানাদার বাহিনির মোকাবেলা করত । এক পর্যায়ে হানাদার বাহীনিদের হামলায় কলেজের অনেক
              ক্ষয়ক্ষতি হয়ে যায় । পরবর্তিকালে সরকার কলেজের ক্ষতি পুরুনে আর্থিক সহয়তা প্রদান করে । সেই ইতিহাসের ধারাবাহিকতায়
              কলেজের মূল ফটকের উভয় পার্শে পাথরে খচিত মুক্তিযুদ্ধের মূরাল স্থাপন করে কলেজকে গৌরবউজ্বল করেছে ।"</p>
          </div>
        </div>
        <div class="make-blur" id="mpBlur"></div>
        <div class="read-more" (click)="openModal2($event)" id="readMore"><a [routerLink]="['/details']">Read More</a>
        </div>
      </div>
      <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xxl-6">
        <h1 style="text-align: center;" class="profile-title profile-title4">
          <b>প্রতিষ্ঠানের অবকাঠামো</b>
        </h1>
        <div class="profile-text profile">
          <p>
            <img id="openImage" src="./assets/images/Collegemap.jpg" alt="Campus Area" (click)="openModal()">
          </p>
        </div>
        <div class="make-blur" id="mpBlur"></div>
        <div class="read-more" id="readMore">
          <a href="javascript:void(0)" (click)="openModal()">Open Full Image</a>
        </div>
      </div>

      <div *ngIf="isImageModalOpen" class="modal-overlay" (click)="closeModal()">
        <div class="modal-content" (wheel)="zoomImage($event)" (mousedown)="startDragging($event)"
          (mousemove)="dragImage($event)" (mouseup)="stopDragging()" (mouseleave)="stopDragging()"
          (touchstart)="startDragging($event)" (touchmove)="dragImage($event)" (touchend)="stopDragging()"
          (click)="$event.stopPropagation()">
          <img #modalImage [src]="fullImageSrc"
            [style.transform]="'scale(' + zoomLevel + ') translate(' + translateX + 'px, ' + translateY + 'px)'"
            class="modal-image">
          <button class="close-button" (click)="closeModal()">&#10006;</button>
        </div>
      </div>

      <div id="profileModal" class="modal-overlay" *ngIf="isProfileModalOpen">
        <div class="modal-content">
          <button class="close-button" (click)="closeModal2()">&#10006;</button>
          <div style="color: black; background: white; padding: 20px" [innerHTML]="fullProfileText"></div>
        </div>
      </div>

      <!-- <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xxl-8 order-xs-1 order-sm-2 order-md-2 order-lg-5">
        <div class="custom-column bg-info" id="videoSlider">
          <div id="slider-container">
            <div id="slider">
              <div class="video-slider" #videoSlideContainer>
                <a class="carousel-control-prev" role="button" (click)="playPreVideo()">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>

                <div class="carousel-inner">
                  <video *ngIf="isVideo()" #videoPlayer controls (ended)="playNextVideo()">
                    <source [src]="videos[currentVideoIndex]" type="video/mp4">
                    Your browser does not support the video tag.
                  </video>
                </div>

                <a class="carousel-control-next" role="button" (click)="playNextVideo()">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div> -->

      <!-- <div id="thumbnails">
              <ng-container *ngFor="let image of images; let i = index">
                <img class="thumbnail" [src]="'./assets/videos/' + videos" alt="Thumbnail {{ i + 1 }}"
                  [ngClass]="{ 'current-thumbnail': i === currentVideoIndex, 'center-thumbnail': i === currentVideoIndex }"
                  (click)="currentVideoSlide(i)">
              </ng-container>
            </div> -->
      <!-- </div>
        </div>
      </div> -->
      <div class="col-12 col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xxl-4">
        <div class="profile" id="chairman">
          <div class="profile-head">
            <img src="./assets/images/chairman.jpg" class="profile-picture">
            <h3 class="profile-title profile-title3"><b>সভাপতি মহদয়ের<br>অনুপ্রেরণা</b></h3>
          </div>
          <div class="profile-text">
            <p>মানুষের মৌলিক অধিকারের মধ্যে শিক্ষা অন্যতম। সু-শিক্ষা ছাড়া কোন জাতি উন্নতি সাধন করতে পারে না, তাই
              যুগোপযোগী, অর্থবহ ও কল্যাণমূখী শিক্ষার মাধ্যমে জাতির সুপ্ত প্রতিভার বিকাশ ঘটিয়ে দেশ প্রেমিক, চরিত্রবান ও
              আদর্শ নাগরিক হিসাবে গড়ে তোলার মহান উদ্দেশ্য নিয়েই কে,ব,এম, কলেজের এর কার্যক্রম পরিচালিত হচ্ছে। নারী সমাজ
              ধর্মীয় গোঁড়ামীর অনুশাসনে অবরুদ্ধ থেকে শিক্ষার আলো হতে বঞ্চিত ছিল দীর্ঘদিন। তবে সময়ের বিবর্তনে বর্তমান
              শিক্ষা ক্ষেত্রে এসেছে বিরাট পরিবর্তন। আর সে পরিবর্তনের ধারায় কিছু সংখ্যক শিক্ষা সচেতন ব্যক্তির উৎসাহ ও
              নিরলস প্রচেষ্টায় স্থানীয় এলাকাবাসীর আশা আকাংখার প্রেক্ষিতে প্রতিষ্ঠানটি দিনাজপুর জেলার দক্ষিন দিকে একটি
              প্রত্যন্ত অঞ্চলে অবস্থিত হলেও শিক্ষার গতানুগতিক ধারা থেকে বেরিয়ে এসে আধুনিক প্রযুক্তি ও বিজ্ঞানসম্মত
              যুগোপযোগী শিক্ষাদানে অনেকখানি এগিয়ে আছে।

              আজ একবিংশ শতাব্দীর দ্বারে উপনীত হয়ে বিশ্বায়নের এই যুগে উন্নয়নের ধারাবাহিকতা রক্ষা করার লক্ষ্যে
              প্রতিষ্ঠানটির একটি সার্বজনীন ও বিশ্বব্যাপী পরিচিতি তুলে ধরা প্রয়োজন হয়ে পড়ে। প্রতিষ্ঠানটির সভাপতি হিসেবে
              দায়িত্ব লাভের পর থেকেই বিষয়টি আমি অনুভব করতে থাকি। বিদ্যালয়ের কার্যক্রমকে আধুনিকায়ন ও যুগোপযোগী করার
              লক্ষ্যে বিভিন্ন প্রকল্প হাতে নেই। সেই প্রকল্পেরই একটি অংশ হিসেবে বিজ্ঞান ও প্রযুক্তির বিষয়টি মাথায় রেখে
              একটি উনয়নত ও যুগোপযোগী কম্পিউটার ল্যাব প্রতিষ্ঠা করি। যার মাধ্যমে প্রতিষ্ঠানটির বিভিন্ন তথ্য ওয়েব সাইটের
              সহায়তায় বিশ্বব্যপী ছড়িয়ে পড়ছে এবং বিদ্যালয়ের ছাত্র-ছাত্রীরা ঘরে বসেই পরীক্ষার রুটিন, ফলাফল, ভর্তি ফরম পূরণ
              করছে। অভিভাবকরাও ঘরে বসে সন্তানের পরীক্ষার ফলাফল পাবচ্ছে। এই ওয়েব সাইটটিতে নিয়মিতভাবে বিদ্যালয়ের নানা তথ্য
              সংযোজন ও হালনাগাদ করা হচ্ছে। ওয়েব সাইটি চালুর সাথে সাথেই কলেজটি বিশ্বদরবারে আত্মপ্রকাশ লাভ করে এক নতুন
              মাইল ফলক স্থাপন করবে। এই শুভ পথ পরিক্রমায় শ্রদ্ধাভরে স্মরণ করছি সেইসব জানা-অজানা সুধীজনদের, যাদের অক্লান্ত
              পরিশ্রম আর ভালোবাসার ফসল আজকের এই কে,ব্‌এম,কলেজ। বিদ্যালয়ের উন্নয়নের এই ধারাবাহিকতা রক্ষা এবং পরিচালনায়
              সর্বমহলের আন্তরিক সচেতনতা ও সহযোগীতা প্রত্যাশা করছি।"</p>
            <p><br><b>মোফাজ্জল হোসেন দুলাল<br><br>সভাপতি</b><br>পরিচালনা পর্ষদ<br>কে. বি. এম. কলেজ, দিনাজপুর।</p>
          </div>
        </div>
        <div class="make-blur" id="mpBlur"></div>
        <div class="read-more" (click)="openModal2($event)" id="readMore"><a [routerLink]="['/details']">Read More</a>
        </div>
      </div>
      <div class="col-12 col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xxl-4">
        <div class="profile" id="principal">
          <div class="profile-head">
            <img src="./assets/images/principal.jpg" class="profile-picture">
            <h3 class="profile-title profile-title3"><b>অধ্যক্ষ মহদয়ের<br>অনুপ্রেরণা</b></h3>
          </div>
          <div class="profile-text">
            <p>শিক্ষার মূল উদ্দেশ্য হচ্ছে শিক্ষার্থীর সার্বিক বিকাশ ঘটিয়ে তাকে মনুষ্যত্যের আলোকসম্পন্ন সার্থক রুচিশীল
              মানুষে পরিণত করা। শিক্ষাঙ্গনে একটি নির্দিস্ট পদ্ধতি অনুসরণ করে বিষয়ভিত্তিক শিক্ষা প্রদানের মাধ্যমে
              ছাত্র-ছাত্রীদের এই জ্ঞান ও নৈপূণ্য অর্জনে সহায়তা করা হয়ে থাকে। সরকারি-বেসরকারি কলেজ সমূহের গতানুগতিক
              পাঠদান পদ্ধতি জ্ঞান অর্জনের পরিবর্তে শুধুমাত্র সনদ প্রাপ্তির প্রতিযোগিতায় অবতীর্ণ হচ্ছে যার ফলে,
              ছাত্র-ছাত্রীদের সুনাগরিক হিসেবে গড়ে তোলা সম্ভব হচ্ছে না। শিক্ষা জাতীয় উন্নয়নের প্রধান সোপান।
              প্রতিযোগীতায় বিশ্বের সাথে তাল মিলিয়ে দেশকে উন্নয়নের পথে এগিয়ে নিতে শিক্ষার কোন বিকল্প নেই।
              দেশের আদর্শ শিক্ষা প্রতিস্ঠানের সিমাবদ্ধতা অনুধাবন করেই বিদ্যমান বাধাসমূহকে অতিক্রম করে যোগ্য নাগরিক
              হিসেবে ছাত্র-ছাত্রীদের গড়ে তোলার লক্ষে ১৯৬৫ ইং সনে দিনাজপুর জেলায় অবস্থিত উত্তরবঙ্গের অন্যতম প্রাচিন ও
              ঐতিহাসিক বিদ্যাপীঠ কে, বি, এম কলেজ (কাদের বকস মেমোরিয়াল কলেজ) প্রতিষ্ঠিত হয়েছিল। এই কলেজের মতো একটি
              ঐতিহ্যবাহী শিক্ষাপ্রতিষ্ঠান পরিচালনার দায়িত্ব পাওয়া আমার জন্য অবশ্যই অনন্য সম্মানের বিষয়। প্রতিষ্ঠানের
              সুনাম ধরে রাখা ও বৃদ্ধি করা অধ্যক্ষের নৈতিক দায়িত্ব ও কর্তব্য। এই গুরু দায়ীত্ব ও কর্তব্য পালনে আমরা
              নিবেদিত। আমি বিশ্বাস করি, এ প্রতিষ্ঠানের সংশ্লিষ্ট সকলের মধ্যে রয়েছে সততা ও নিষ্ঠার সাথে দায়িত্ব পালন
              করার সুস্থ মানসিকতা। আমাদের স্বপ্ন এ কলেজকে একটি আদর্শ শিক্ষা প্রতিষ্ঠানে পরিণত করা, যার মধ্য থেকে বেরিয়ে
              আসবে সৎ, নিষ্ঠাবান, দায়িত্বপূর্ণ, সুশৃংখল এবং কর্মজীবনের উপযোগী জ্ঞানসমৃদ্ধ ছাত্রছাত্রীবৃন্দ। এসব
              ছাত্রছাত্রী কর্মজীবনে প্রতিষ্ঠিত হয়ে যদি তাদের পরিবার, সমাজ, দেশ ও সর্বোপরি দাউদকান্দি এলাকার মানুষের
              কল্যাণে কিছু করতে পারে, তবেই সার্থক হবে আমাদের সব আয়োজন ও প্রয়াস।"</p>
            <p><br><b>সরদার কুদরত-ই-খুদা<br><br>অধ্যক্ষ (ভারপ্রাপ্ত)</b><br>কে. বি. এম. কলেজ, দিনাজপুর।</p>
          </div>
        </div>
        <div class="make-blur" id="mpBlur"></div>
        <div class="read-more" (click)="openModal2($event)" id="readMore"><a [routerLink]="['/details']">Read More</a>
        </div>
      </div>
      <div class="col-12 col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xxl-4">
        <div class="profile" id="vicePrincipal">
          <div class="profile-head">
            <img src="./assets/images/vp.jpg" class="profile-picture">
            <h3 class="profile-title profile-title3"><b>উপাধ্যক্ষ মহদয়ের<br>অনুপ্রেরণা</b></h3>
          </div>
          <div class="profile-text">
            <p>শিক্ষার মূল উদ্দেশ্য হচ্ছে শিক্ষার্থীর সার্বিক বিকাশ ঘটিয়ে তাকে মনুষ্যত্যের আলোকসম্পন্ন সার্থক রুচিশীল
              মানুষে পরিণত করা। শিক্ষাঙ্গনে একটি নির্দিস্ট পদ্ধতি অনুসরণ করে বিষয়ভিত্তিক শিক্ষা প্রদানের মাধ্যমে
              ছাত্র-ছাত্রীদের এই জ্ঞান ও নৈপূণ্য অর্জনে সহায়তা করা হয়ে থাকে। সরকারি-বেসরকারি কলেজ সমূহের গতানুগতিক
              পাঠদান পদ্ধতি জ্ঞান অর্জনের পরিবর্তে শুধুমাত্র সনদ প্রাপ্তির প্রতিযোগিতায় অবতীর্ণ হচ্ছে যার ফলে,
              ছাত্র-ছাত্রীদের সুনাগরিক হিসেবে গড়ে তোলা সম্ভব হচ্ছে না। শিক্ষা জাতীয় উন্নয়নের প্রধান সোপান।
              প্রতিযোগীতায় বিশ্বের সাথে তাল মিলিয়ে দেশকে উন্নয়নের পথে এগিয়ে নিতে শিক্ষার কোন বিকল্প নেই।
              দেশের আদর্শ শিক্ষা প্রতিস্ঠানের সিমাবদ্ধতা অনুধাবন করেই বিদ্যমান বাধাসমূহকে অতিক্রম করে যোগ্য নাগরিক
              হিসেবে ছাত্র-ছাত্রীদের গড়ে তোলার লক্ষে ১৯৬৫ ইং সনে দিনাজপুর জেলায় অবস্থিত উত্তরবঙ্গের অন্যতম প্রাচিন ও
              ঐতিহাসিক বিদ্যাপীঠ কে, বি, এম কলেজ (কাদের বকস মেমোরিয়াল কলেজ) প্রতিষ্ঠিত হয়েছিল। এই কলেজের মতো একটি
              ঐতিহ্যবাহী শিক্ষাপ্রতিষ্ঠান পরিচালনার দায়িত্ব পাওয়া আমার জন্য অবশ্যই অনন্য সম্মানের বিষয়। প্রতিষ্ঠানের
              সুনাম ধরে রাখা ও বৃদ্ধি করা অধ্যক্ষের নৈতিক দায়িত্ব ও কর্তব্য। এই গুরু দায়ীত্ব ও কর্তব্য পালনে আমরা
              নিবেদিত। আমি বিশ্বাস করি, এ প্রতিষ্ঠানের সংশ্লিষ্ট সকলের মধ্যে রয়েছে সততা ও নিষ্ঠার সাথে দায়িত্ব পালন
              করার সুস্থ মানসিকতা। আমাদের স্বপ্ন এ কলেজকে একটি আদর্শ শিক্ষা প্রতিষ্ঠানে পরিণত করা, যার মধ্য থেকে বেরিয়ে
              আসবে সৎ, নিষ্ঠাবান, দায়িত্বপূর্ণ, সুশৃংখল এবং কর্মজীবনের উপযোগী জ্ঞানসমৃদ্ধ ছাত্রছাত্রীবৃন্দ। এসব
              ছাত্রছাত্রী কর্মজীবনে প্রতিষ্ঠিত হয়ে যদি তাদের পরিবার, সমাজ, দেশ ও সর্বোপরি দাউদকান্দি এলাকার মানুষের
              কল্যাণে কিছু করতে পারে, তবেই সার্থক হবে আমাদের সব আয়োজন ও প্রয়াস।"</p>
            <p><br><b>সরদার কুদরত-ই-খুদা<br><br>উপাধ্যক্ষ</b><br>কে. বি. এম. কলেজ, দিনাজপুর।</p>
          </div>
        </div>
        <div class="make-blur" id="mpBlur"></div>
        <div class="read-more" (click)="openModal2($event)" id="readMore"><a [routerLink]="['/details']">Read More</a>
        </div>
      </div>
    </div>
    <div class="row x-memory">
      <div class="col-12 col-xs-0 col-sm-0 col-md-0 col-lg-2 col-xxl-2"></div>
      <div class="col-12 col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xxl-4">
        <div class="profile remember" id="founderPrincipal">
          <div class="profile-head">
            <img src="./assets/images/fprincipal.jpg" class="profile-picture">
            <h3 class="profile-title"><b>প্রতিষ্ঠাতা অধ্যক্ষ</b></h3>
          </div>
          <div class="profile-text">
            জনাব, মাহমুদ মোকারোম হোসেন।<br>বিশিষ্ট শিক্ষাবিদ, তৎকালীন বাংলাদেশ অধ্যক্ষ পরিষোদের সভাপতি।
          </div>
        </div>
      </div>

      <div class="col-12 col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xxl-4">
        <div class="profile remember" id="rememberingPerson">
          <div class="profile-head">
            <img src="./assets/images/kb.jpg" class="profile-picture">
            <h3 class="profile-title"><b>যার নামে কলেজ</b></h3>
          </div>
          <div class="profile-text">
            জনাব, মৌলভী কাদের বক্স‌<br>বিশিষ্ট আইনজীবী(প্রথম মুসলিম আইনজীবী দিনাজপুর জর্জকোট)।
          </div>
        </div>
      </div>
    </div>
    <div class="row">

      <div class="col-12 col-xs-12 col-sm-6 col-md-6 col-lg-3">
        <div class="profile local-people" id="localPepole1">
          <div class="profile-head">
            <img src="./assets/images/o1.png" class="profile-picture">
            <h3 class="profile-title"><b>দিনাজপুরের নাগরিক</b></h3>
          </div>
          <div class="profile-text">
            <p>আমি দিনাজপুরের মানুষ। ছোটবেলা থেকেই কেবিএম কলেজের নাম শুনে এসেছি—ভালো যেমন শুনেছি, খারাপও কম শুনিনি। এক
              সময় মনে হতো, এই কলেজ বুঝি শুধুই নামে বড়, কাজে নয়। তখনকার বদনামটা ছিল অনেকটা আইসক্রিমের মতো—চোখে ভালো লাগে,
              খেলে শরীরের ক্ষতি! কিন্তু সময় বদলেছে। আমি নিজের চোখে দেখেছি, এই কলেজ কীভাবে ধীরে ধীরে নিজেকে পাল্টেছে। এখন
              এখানে পড়তে চায় অনেকে, শিক্ষার মান বেড়েছে, পরিবেশ উন্নত হয়েছে। আমি মাঝে মাঝে কলেজ চত্বর দিয়ে হাঁটি—যেখানে
              এক সময় ছিল কোলাহল, আজ সেখানে পড়াশোনার গম্ভীরতা। নিজের চোখে এই পরিবর্তন দেখে সত্যিই গর্ব হয়। তাই বলি,
              কেবিএম কলেজ শুধু একটা শিক্ষা প্রতিষ্ঠান নয়, এটা এখন দিনাজপুরের একটি উজ্জ্বল দৃষ্টান্ত। আমি এই
              শিক্ষাপ্রতিষ্ঠানকে অন্তর থেকে ভালোবাসি এবং একে শুভকামনা জানাই।</p>

          </div>
        </div>
        <div class="make-blur" id="mpBlur"></div>
        <div class="read-more" (click)="openModal2($event)" id="readMore"><a [routerLink]="['/details']">Read More</a>
        </div>
      </div>

      <div class="col-12 col-xs-12 col-sm-6 col-md-6 col-lg-3">
        <div class="profile local-people" id="localPepole2">
          <div class="profile-head">
            <img src="./assets/images/o2.png" class="profile-picture">
            <h3 class="profile-title"><b>অভিভাবক</b></h3>
          </div>
          <div class="profile-text">
            <p>আমি একজন অভিভাবক। আমার মেয়ে কেবিএম কলেজের একাদশ শ্রেণীর একজন শিক্ষার্থী। মেয়ের আচার-আচরন ও লেখা-পড়ার
              প্রতি মনোযোগ দেখে আমি সন্তষ্ট। কলেজের ক্রিষ্টিকালচার এবং পাঠাভ্যাস তার জীবনকে গতিশীল করেছে। মাল্টিমিডিয়া
              ক্লাসরুমে শিক্ষকদের স্বকীয় দক্ষতায় তৈরী পাঠ পরিকল্পনার মাধ্যমে পাঠদান, সকল শিক্ষার্থীদের ভবিষ্যৎ
              সম্ভাবনাময় করে তুলেছে। কলেজ প্রশাসন ও শিক্ষাগুরুদের প্রতি রইল আমার আন্তরিক অভিবাধন।</p>

          </div>
        </div>
        <div class="make-blur" id="mpBlur"></div>
        <div class="read-more" (click)="openModal2($event)" id="readMore"><a [routerLink]="['/details']">Read More</a>
        </div>
      </div>

      <div class="col-12 col-xs-12 col-sm-6 col-md-6 col-lg-3">
        <div class="profile local-people" id="localPepole3">
          <div class="profile-head">
            <img src="./assets/images/o3.png" class="profile-picture">
            <h3 class="profile-title"><b>এলাকাবাসী</b></h3>
          </div>
          <div class="profile-text">
            <p>আমি একজন এলাকাবাসী, কলেজ এলাকায় আমার বাস। আমি গর্বিত যে কেবিএম কলেজ এলাকায় আমি বাস করি। বিবিএ সহ এগারোটি
              বিষয়ে অনার্স; বিজ্ঞান, মানবিক ও ব্যবসায় শিক্ষা বিষয়ে উচ্চমাধ্যমিক ও ডিগ্রী; বিএম এবং কৃষি ডিপ্লমা সকল
              বিষয়ে সার্থকতার সহিত পাঠদান করে উল্লেখযোগ্য ফলাফল অর্জনের মাধ্যমে কেবিএম কলেজ দিনাজপুরের শিক্ষাঙ্গনে
              অবস্থান করে নিয়েছে। নিজেস্য উদ্যোগে নিয়োমিত কম্পিউটার প্রশিক্ষনের মাধ্যমে শিক্ষকদের মাল্টিমিডিয়া ক্লাসে
              পাঠদানের উপযোগী করে তোলা হয়েছে। যা শিক্ষার্থীদের শিক্ষাজীবনের আসির্বাদ হয়ে দড়িয়েছে।</p>

          </div>
        </div>
        <div class="make-blur" id="mpBlur"></div>
        <div (click)="openModal2($event)" class="read-more" id="readMore"><a [routerLink]="['/details']">Read More</a>
        </div>
      </div>

      <div class="col-12 col-xs-12 col-sm-6 col-md-6 col-lg-3">
        <div class="profile local-people" id="localPepole4">
          <div class="profile-head">
            <img src="./assets/images/o4.png" class="profile-picture">
            <h3 class="profile-title"><b>প্রাক্তন শিক্ষার্থী</b></h3>
          </div>
          <div class="profile-text">
            <p>আমি কেবিএম কলেজের একজন প্রাক্তন শিক্ষার্থী। ২০১২ সালে এই কলেজ থেকে এইচএসসি পাস করেছি। সত্যি বলতে, যখন
              ভর্তি হয়েছিলাম তখন অনেকেই বলেছিল, “কেবিএম? ওখানে পড়াশোনার চেয়ে রাজনীতিই বেশি হয়।” কিছুটা সংশয়ে ভর্তি হলেও,
              নিজের অভিজ্ঞতা ছিল ভিন্ন। হ্যাঁ, শুরুতে কিছু বিশৃঙ্খলা ছিল, কিছু ক্লাস ফাঁকা যেত, কিন্তু সময়ের সঙ্গে সঙ্গে
              সবকিছু বদলাতে শুরু করে। বিশেষ করে ২০১১ থেকে ২০১৩ সালের মধ্যে কলেজ প্রশাসনের কঠোর নজরদারি, শিক্ষকদের
              সক্রিয়তা এবং ছাত্রদের মধ্যে পড়াশোনার আগ্রহ বাড়তে শুরু করে।<br><br>
              আমি নিজেও বিভিন্ন প্রতিযোগিতায় অংশ নিয়েছিলাম—সাহিত্য, বিতর্ক, বিজ্ঞান মেলা সবকিছুতেই কেবিএমের সক্রিয়
              অংশগ্রহণ ছিল। আজও যখন কলেজের সামনে দিয়ে যাই, গর্ব হয় ভেবে যে আমি এই প্রতিষ্ঠানের অংশ ছিলাম। এখনকার
              ছাত্র-ছাত্রীদের মাঝে আরও বেশি আত্মবিশ্বাস, নেতৃত্বগুণ ও পড়ালেখার আগ্রহ দেখি। কেবিএম কলেজ এখন আর শুধুমাত্র
              একটি প্রতিষ্ঠান নয়, বরং এটি দিনাজপুরের তরুণ প্রজন্মের আশার নাম।</p>

          </div>
        </div>
        <div class="make-blur" id="mpBlur"></div>
        <div class="read-more" (click)="openModal2($event)" id="readMore"><a [routerLink]="['/details']">Read More</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="calendar-wrapper" style="margin-bottom: 92px;">
  <button (click)="prevMonth()"><span _ngcontent-ng-c1937629980="" aria-hidden="true"
      class="carousel-control-prev-icon"></span></button>
  <div class="calendar-container">
    <div class="month-wrapper2" #calendarContainer>
      <!-- Months will be dynamically injected here -->
    </div>
  </div>
  <button (click)="nextMonth()"><span _ngcontent-ng-c1937629980="" aria-hidden="true"
      class="carousel-control-next-icon"></span></button>
</div>